
/* for div where treeview is placed */
div.ob_tree		{
	/*background-color:#f9f9f9; 
	background-image: url('/images/sky.gif'); */
	overflow:auto;
	/*border:1px solid #999999;*/
}

/* for node text */
td.ob_t2	{
	FONT: 8pt Tahoma;
	vertical-align:middle;
	border: 1px solid #ffffff;
	background-color: transparent;
	padding-left:2px;
	padding-right:2px;
	cursor: pointer;
}

/* for selected node text highlighted/selected */
td.ob_t3		{
	font: 8pt Tahoma; 
	vertical-align:middle;
	border:1px solid #6699cc;
	background-color:#ccddee;
	padding-left:2px;
	padding-right:2px;
	cursor: pointer;
}

/* for node when edited */
input.ob_t3		{
	font: 8pt Tahoma; 
}

/* links in all nodes */
td.ob_t2 A		{
	color: #3366cc;
}

/* link in selected node */
td.ob_t3 A		{
	color: crimson;
	cursor: pointer;
}

/* for icons */
td.ob_t4	 	{
	vertical-align:top;
}

/* for icons */
div.ob_d4 		{
	width: 19px;
	font: 6pt Tahoma;
}

/* for children */
td.ob_t5	{
	width:100%;
}

/* for vertical lines (indent) */
div.ob_d5		{
	width:18px;
	font: 5px Verdana;	
}

td.ob_t5v
{
	background-image: url(vertical.gif);
}

/* for plus-minus images */
td.ob_t6		{
	width:16px;
	vertical-align:top;	
}

/* for plus-minus images */
td.ob_t6v		{
	width:16px;
	vertical-align:top;	
	background-image: url(vertical.gif);
}


/* for plus-minus images of the root node*/
td.ob_t8{
	width:16px;
	vertical-align:top;		
}

/* for message "Loading ..." */
td.ob_t7		{
	FONT:8pt Tahoma;
	background-color:#ffffff;
	border:1px solid #666666; 
	color:#666666;
	width:80px;
	text-align:center;
	padding-left:20px;	
}

/* for links */
A.ob_a2		{
	FONT: 8pt Tahoma; 
	COLOR: #0000cd; 
	TEXT-DECORATION: none;
}

.ob_t2c 
{		
	border-collapse: separate;	
	border-spacing: 0px;
}

.ob_t2b 
{	
	border-collapse: separate;	
	border-spacing: 0px;
}

.ob_t2g
{	
	border-collapse: separate;	
	border-spacing: 0px;
	
}
.ob_t2g td
{
	padding:0px;	
}

.ob_t2b td
{
	padding:0px;
}

.ob_t2c td
{
	padding:0px;
}
		

