html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, cite, em, img, strong, b, u, i, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     font-size: 100%;
     margin: 0px;
     outline: 0px none;
     padding: 0px;
     vertical-align: baseline;
}

ol, ul {
     list-style: none outside none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

a img {
     border: 0px none;
}

html {
    
}

body {
     background: none repeat scroll 0% 0% #FFFFFF;
     color: #828282;
     font: 0.75em/1.5em Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     color: #076FB2;
     font-family: Helvetica,Arial,sans-serif;
     font-weight: normal;
}

h1 {
     font-size: 3em;
     line-height: 1;
     margin-bottom: 0.5em;
}

h2 {
     font-size: 2em;
     margin-bottom: 0.75em;
}

h3 {
     font-size: 1.5em;
     line-height: 1;
     margin-bottom: 1em;
}

h4 {
     font-size: 1.2em;
     line-height: 1.25;
     margin-bottom: 1.25em;
}

h5 {
     font-size: 1em;
     font-weight: bold;
     margin-bottom: 1.5em;
}

h6 {
     font-size: 1em;
     font-weight: bold;
}

p {
     margin: 0px 0px 1.5em;
}

p.intro {
     font-size: 1.167em;
     line-height: 1.5em;
     margin-bottom: 1.5em;
}

p.small {
     font-size: 0.917em;
     line-height: 1.273em;
}

small {
     font-size: 0.917em;
     line-height: 1.273em;
}

strong {
     font-weight: bold;
}

em {
     font-style: italic;
}

a {
     color: #A71C20;
     text-decoration: underline;
}

a:visited {
     color: #2E71C9;
}

a:hover {
     color: #440000;
     text-decoration: none;
}

li ul, li ol {
     margin: 0px 1.5em;
}

ul, ol {
     margin: 0px 1.5em 1.5em;
}

* html ol, * + html ol {
     margin-left: 2em;
}

ul {
     list-style-type: disc;
}

ol {
     list-style-type: decimal;
}

ol ol {
     list-style-type: lower-alpha;
}

dl {
     margin: 0px 0px 1.5em;
}

dl dt {
     font-weight: bold;
}

dd {
     margin-left: 1.5em;
}

.wrap {
     overflow: hidden;
     width: 100%;
}

table {
     border-collapse: collapse;
     margin: 0px 0px 1.5em;
     width: 100%;
}

table th {
     background: none repeat scroll 0% 0% #A71C20;
     border-left: 1px solid #E2ECF1;
     color: #FFFFFF;
     font-size: 1em;
     font-weight: bold;
     padding: 5px 8px 5px 12px;
     text-align: left;
     white-space: nowrap;
}

.pane table th a {
     background: none repeat scroll 0% 0% transparent;
     color: #FFFFFF;
     text-decoration: none;
}

.pane table th a:visited {
     color: #FFFFFF;
}

.pane table th a:hover {
     background: url("../images/underline-btn.gif") repeat-x scroll 0px 100% transparent;
     color: #FFFFFF;
}

table td {
     background: none repeat scroll 0% 0% #fdf2f4;
     padding: 8px 8px 8px 12px;
     vertical-align: top;
}

.content-table td {
     border: 1px solid #E2ECF1;
}

.content-table .alt-row td {
     background-color: #F5F9FB;
}

.listing-table td {
     border: 1px solid #fdf2f4;
}

.listing-table .alt-row td {
     background-color: #f0e1e3;
}

.listing-table tr:hover td {
     background-color: #FEFEFE;
}

.listing-table .btn {
     background-color: #A71C20;
}

.block-table td {
     background-color: #F5F9FB;
     border-bottom: 1px solid #E2ECF1;
}

.block-table .alt-row td {
    
}

.detail-table td {
     padding: 4px 8px 4px 12px;
}

.form-table td {
     background-color: #fdf2f4;
}

th.sort, th.sort-asc, th.sort-desc {
     background-repeat: no-repeat;
     cursor: pointer;
     padding-left: 22px;
}

th.sort {
     background-image: url("../images/sort.gif");
     background-position: 11px 10px;
}

th.sort-asc {
     background-image: url("../images/sort-asc.gif");
     background-position: 11px 12px;
}

th.sort-desc {
     background-image: url("../images/sort-desc.gif");
     background-position: 11px 12px;
}

.pane a {
     background: url("../images/underline-link.gif") repeat-x scroll 0px 100% transparent;
     text-decoration: none;
}

.pane a:hover {
     background: none repeat scroll 0% 0% transparent;
     text-decoration: none;
}

.pane a.info {
     background: none repeat scroll 0% 0% transparent;
     text-decoration: none;
}

a.btn {
     background: none repeat scroll 0% 0% #A71C20;
     color: #FFFFFF;
     display: inline-block;
     height: 20px;
     line-height: 19px;
     padding: 0px 7px;
     text-align: center;
     text-decoration: none;
     white-space: nowrap;
}

a.btn:visited {
     color: #FFFFFF;
}

a.btn:hover {
     background: none repeat scroll 0% 0% #440000;
}

a.btn:hover span {
     cursor: pointer;
}

a.btn2 {
     background: none repeat scroll 0% 0% #DDDDDD;
     color: #2D2D2D;
     display: inline-block;
     height: 20px;
     line-height: 19px;
     padding: 0px 7px;
     text-align: center;
     text-decoration: none;
     white-space: nowrap;
}

a.btn2:visited {
     color: #2D2D2D;
}

a.btn2:hover {
     background: none repeat scroll 0% 0% #C2D337;
     color: #FFFFFF;
}

a.btn2:hover span {
     cursor: pointer;
}

.notice, .information, .success, .error {
     font-size: 1em;
     line-height: 1.5em;
     margin: 0px auto 1.5em;
     padding: 10px 16px;
     position: relative;
}

.notice {
     background: none repeat scroll 0% 0% #FFFFCC;
     color: #B47912;
}

.information {
     background: none repeat scroll 0% 0% #DFFAFF;
     color: #0055B5;
}

.success {
     background: none repeat scroll 0% 0% #D5FFCE;
     color: #1C8400;
}

.error {
     background: none repeat scroll 0% 0% #FFDDDD;
     color: #B50007;
}

.container {
     margin: 0px auto;
     position: relative;
     width: 1102px;
}

#header, #wrapper, #footer {
     min-width: 1102px;
}

.clearfix:after, .container:after {
     clear: both;
     content: " ";
     display: block;
     font-size: 0px;
     height: 0px;
     line-height: 0;
     visibility: hidden;
     width: 0px;
}

.clearfix, .container {
     display: inline-block;
}

* html .clearfix, * html .container {
     height: 1%;
}

.clearfix, .container {
     display: block;
}

.clear {
     clear: both;
     display: block;
     height: 0px;
     overflow: hidden;
     visibility: hidden;
     width: 0px;
}

#header {
     border-bottom: 1px solid #EDEDED;
}

#header .container {
    
}

#logo {
     height: 144px;
     left: 0px;
     position: absolute;
     top: 0px;
}

#logo a {
    
}

#header-content {
     display: inline;
     float: right;
     height: 144px;
     margin: 0px 0px 0px 10px;
     position: relative;
     width: 844px;
}

#global-nav {
     margin: 20px 0px 0px;
     width: 842px;
}

#global-nav ul {
     float: right;
     margin: 0px;
}

#global-nav li {
     display: inline;
     float: left;
     list-style: none outside none;
     margin: 0px 0px 0px 6px;
     text-align: center;
}

#global-nav li a {
     color: #444444;
     float: left;
     font-size: 14px;
     font-weight: bold;
     text-decoration: none;
}

#global-nav li a:visited {
     color: #444444;
}

#global-nav li a span {
     cursor: pointer;
     display: block;
     float: left;
     height: 33px;
     line-height: 33px;
     padding: 0px 14px;
}

#global-nav li a:hover {
     background-color: #A71C20;
     color: #FFFFFF;
}

#global-nav li a.active {
     background: none repeat scroll 0% 0% #EDEDED;
     color: #444444;
}

#breadcrumbs {
     bottom: 20px;
     color: #076FB2;
     font-size: 11px;
     left: 0px;
     margin: 0px;
     position: absolute;
}

#breadcrumbs span img {
     margin: 0px 3px;
}

#breadcrumbs a {
     background: url("../images/underline-breadcrumbs.gif") repeat-x scroll 0px 100% transparent;
     color: #828282;
     text-decoration: none;
}

#breadcrumbs a:visited {
     color: #828282;
}

#breadcrumbs a:hover {
     color: #A71C20;
     text-decoration: none;
}

#user-info {
     bottom: 20px;
     font-size: 11px;
     line-height: 22px;
     margin: 0px;
     padding: 2px;
     position: absolute;
     right: 0px;
}

#user-info p {
     color: #828282;
     float: left;
     margin: 0px;
}

#user-info strong {
     background: url("../images/arrow.gif") no-repeat scroll 8px 50% transparent;
     color: #444444;
     padding: 0px 0px 0px 16px;
}

#user-info .name {
    
}

#user-info .id {
     border-left: 1px solid #DDDDDD;
     margin: 0px 0px 0px 8px;
}

#user-info a.btn {
     background: url("../images/arrow-btn.gif") no-repeat scroll 6px 50% #2D2D2D;
     font-weight: bold;
     margin-left: 16px;
     margin-top: 1px;
     padding-left: 14px;
}

#user-info a.btn:hover {
     background-color: #A71C20;
}

#footer {
     border-top: 1px solid #EDEDED;
     clear: both;
}

#footer .container {
     height: 150px;
}

html > body #footer .container {
     height: auto;
     min-height: 150px;
}

#footer-sidebar {
     float: left;
     padding: 10px;
     width: 230px;
}

#footer-content {
     display: inline;
     float: left;
     margin: 0px 0px 0px 10px;
     padding: 10px 0px;
     width: 842px;
}

#footer p {
     font-size: 11px;
     line-height: 13px;
}

#footer-sidebar p {
     color: #A71C20;
}

#wrapper {
     background: url("../images/wrapper-bg.png") repeat scroll 0px 0px #F8F8F8;
}

#wrapper .container {
     background: url("../images/sidebar-bg.gif") repeat-y scroll 0px 0px transparent;
}

#sidebar {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: none repeat scroll 0% 0% #F4F4F4;
     border-color: #DDDDDD #DDDDDD -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px 0px;
     float: left;
     margin: -46px 20px 0px 0px;
     padding: 9px 9px 10px;
     position: relative;
     width: 228px;
}

.searchbar {
     height: 26px;
     margin: 0px auto 20px;
     overflow: hidden;
     width: 228px;
}

.searchbar .search-field {
     background: url("../images/search-input.gif") no-repeat scroll 0px 0px transparent;
     float: left;
     height: 26px;
     width: 204px;
}

.searchbar .search-field input {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     color: #909090;
     height: 22px;
     margin: 0px;
     padding: 4px 0px 0px 6px;
     width: 198px;
}

.searchbar .search-btn {
     float: left;
}

.sub-nav {
     margin: 0px 0px 16px;
     padding: 10px 10px 40px;
     width: 208px;
}

#sidebar .sub-nav .title {
     color: #076FB2;
     font-size: 12px;
     font-weight: bold;
     line-height: 16px;
     margin: 0px 0px 8px;
     padding: 0px 0px 8px;
}

.sub-nav ul {
     border-top: 1px solid #E2E2E2;
     margin: 0px;
     width: 208px;
}

.sub-nav li {
     list-style: none outside none;
     width: 208px;
}

.sub-nav li a {
     border-bottom: 1px solid #E2E2E2;
     color: #828282;
     display: block;
     font-size: 12px;
     line-height: 14px;
     padding: 0px 0px 7px;
     text-decoration: none;
     width: 208px;
}

.sub-nav li a:visited {
     color: #828282;
}

.sub-nav li a span {
     display: block;
     padding: 7px 10px 0px;
}

.sub-nav li a:hover {
     color: #A71C20;
}

.sub-nav li a.active {
     background: none repeat scroll 0% 0% #A71C20;
     color: #FFFFFF;
     font-weight: bold;
}

.quick-links {
     margin: 0px 0px 18px;
     overflow: hidden;
     width: 228px;
}

.quick-links a {
     background: none repeat scroll 0% 0% #E3F2FD;
     color: #2E71C9;
     display: block;
     height: 66px;
     margin: 0px 0px 12px;
     padding: 10px 10px 10px 96px;
     position: relative;
     text-decoration: none;
}

.quick-links a:visited {
     color: #2E71C9;
}

.quick-links a img {
     left: 0px;
     position: absolute;
     top: 0px;
}

.quick-links a span {
     display: block;
     width: 124px;
}

.quick-links a .title {
     font-size: 1.25em;
     font-weight: bold;
}

.quick-links a .desc {
     bottom: 10px;
     font-size: 0.917em;
     left: 96px;
     line-height: 1.273;
     position: absolute;
}

.quick-links a:hover, .quick-links a.active {
     background: none repeat scroll 0% 0% #A7D3F6;
     color: #2E71C9;
}

#sidebar p {
     color: #22626B;
     margin-left: 8px;
     margin-right: 8px;
}

#main {
     display: inline;
     float: left;
     padding: 10px 0px;
     width: 834px;
}

.profile-msg {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #DDDDDD;
     margin: 0px 0px 28px;
     overflow: hidden;
     width: 832px;
}

.profile-msg p {
     margin: 0px;
}

.profile-msg .title {
     color: #076FB2;
     float: left;
     font-size: 21px;
     line-height: 40px;
     padding: 0px 10px;
}

.profile-msg .btns {
     float: right;
     padding: 10px 10px 0px 0px;
}

.profile-msg .btn {
     background: none repeat scroll 0% 0% #2D2D2D;
     color: #FFFFFF;
}

.profile-msg .btn:hover {
     background: none repeat scroll 0% 0% #A71C20;
}

.module {
     margin: 0px 0px 28px;
     overflow: hidden;
     padding-top: 1px;
     position: relative;
     width: 100%;
}

.module .head {
     background: url("../images/module-head-bg.png") repeat-x scroll 0px 0px transparent;
     border: 1px solid #707070;
     height: 29px;
     overflow: hidden;
     padding: 8px 8px 0px 15px;
     position: relative;
}

html > body .module .head {
     height: auto;
     min-height: 29px;
}

.module .content {
     background: none repeat scroll 0% 0% #FFFFFF;
     padding: 16px;
     position: relative;
}

.section-break {
     background-color: #EEEFEE;
     height: 3px;
     margin: 16px 0px;
     width: 100%;
}

.module .head a.handle {
     background: url("../images/handle-control-state.gif") no-repeat scroll 50% 0px #2D2D2D;
     color: #FFFFFF;
     cursor: pointer;
     display: block;
     float: right;
     font-size: 0.917em;
     height: 22px;
     line-height: 1;
     margin-left: 6px;
     overflow: hidden;
     text-indent: -9999em;
     width: 22px;
}

.module .head a.handle:visited {
     color: #FFFFFF;
}

.module .head a.handle:hover {
     background-color: #A71C20;
}

.module .head a.handle-close {
     background: url("../images/handle-control-state.gif") no-repeat scroll 50% -22px #2D2D2D;
     color: #FFFFFF;
     cursor: pointer;
     display: block;
     float: right;
     font-size: 0.917em;
     height: 22px;
     line-height: 1;
     margin-left: 6px;
     overflow: hidden;
     text-indent: -9999em;
     width: 22px;
}

.module .head a.handle-close:hover {
     background-color: #A71C20;
}

.module .head .title {
     color: #FEFEFE;
     float: left;
     font-size: 1.313em;
     font-weight: bold;
     line-height: 1.583;
     margin: 0px;
}

.module .head .btns {
     float: right;
     margin: 1px 0px 0px;
}

.module .head a.btn {
     background: none repeat scroll 0% 0% #2D2D2D;
     margin-left: 3px;
}

.module .head a.btn:hover {
     background: none repeat scroll 0% 0% #A71C20;
}

.module .pane .btns {
     margin: 0px;
     position: absolute;
     right: 10px;
     top: 6px;
}

ul.tabs {
     height: 32px;
     margin: 0px;
     padding: 0px 12px;
}

ul.tabs li {
     float: left;
     list-style-type: none;
     padding: 0px;
}

ul.tabs a {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: url("../images/module-head-bg.png") repeat-x scroll 0px 0px transparent;
     border-color: #707070 #707070 -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px 0px;
     color: #FFFFFF;
     display: block;
     float: left;
     font-size: 1.167em;
     font-weight: bold;
     height: 32px;
     line-height: 32px;
     margin: 0px 4px -1px 0px;
     padding: 0px 18px;
     position: relative;
     text-decoration: none;
}

ul.tabs a:visited {
     color: #FFFFFF;
}

ul.tabs a:hover {
     background: url("../images/module-head-hover-bg.png") repeat-x scroll 0px 0px transparent;
     border-color: #C2D337;
     color: #FFFFFF;
}

ul.tabs a.current {
     background: none repeat scroll 0% 0% #FFFFFF ! important;
     border-color: #DDDDDD ! important;
     color: #444444 ! important;
     cursor: default;
}

div.pane {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #DDDDDD;
     padding: 24px 16px 6px;
}

.pane ul.tabs {
     border-bottom: 2px solid #EEEFEE;
     padding: 0px 4px;
}

.pane ul.tabs a {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #EEEFEE;
     color: #A1A1A1;
     height: 31px;
     margin-bottom: -1px;
}

.pane ul.tabs a:hover {
     background-color: #EEEFEE;
     border-color: #EEEFEE;
     color: #51236F;
}

.pane ul.tabs a.current {
     background-color: #EEEFEE;
     border-bottom: 1px solid #EEEFEE;
     color: #51236F;
     font-weight: bold;
}

.actions {
     background: none repeat scroll 0% 0% #F8F8F8;
     margin: 0px 0px 1em;
     overflow: hidden;
     padding: 6px;
}

.pane .pane .actions {
     width: 788px;
}

.pane .module .actions {
     width: 754px;
}

.actions p {
     color: #076FB2;
     font-weight: bold;
     line-height: 32px;
     margin: 0px;
}

.actions a.btn, .actions a.btn2 {
     font-size: 1.167em;
     font-weight: bold;
     height: 30px;
     line-height: 29px;
     padding: 0px 10px;
}

.actions a.btn2 {
     font-weight: normal;
}

.actions .left a.btn, .actions .left a.btn2 {
     margin-right: 3px;
}

.actions .right a.btn, .actions .right a.btn2 {
     margin-left: 3px;
}

.pagination {
     overflow: hidden;
     padding: 4px 0px;
}

.pagination a {
     background: none repeat scroll 0% 0% #F8F8F8;
     color: #444444;
     font-size: 0.917em;
     font-weight: bold;
     line-height: 22px;
     margin: 0px 2px 0px 0px;
     padding: 5px 7px;
}

.pagination a:visited {
     color: #444444;
}

.pagination span {
     font-size: 0.917em;
     font-weight: bold;
     line-height: 22px;
     margin: 0px 2px 0px 0px;
     padding: 4px 6px;
}

.pagination .active {
     border: 1px solid #DDDDDD;
     color: #444444;
     cursor: default;
     font-weight: bold;
}

.pagination a:hover {
     background-color: #A71C20;
     color: #FFFFFF;
}

.pagination .previous-off, .pagination .next-off {
     margin: 0px;
     padding: 5px 2px;
}

#main .paging td, #main .paging:hover td {
     background-color: #FFFFFF;
}

.paging td {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #67D0FC -moz-use-text-color -moz-use-text-color;
     border-right: 0px none;
     border-style: solid none none;
     border-width: 2px 0px 0px;
     padding: 8px 0px;
}

.paging table {
     margin: 0px;
     width: auto;
}

.paging table td {
     border: 0px none;
     padding: 0px;
}

.paging span {
     border: 1px solid #DDDDDD;
     color: #444444;
     cursor: default;
     font-size: 0.917em;
     font-weight: bold;
     line-height: 22px;
     margin: 0px 4px 0px 0px;
     padding: 4px 6px;
}

.paging a {
     background: none repeat scroll 0% 0% #F8F8F8;
     border: 1px solid #DDDDDD;
     color: #444444;
     font-size: 0.917em;
     font-weight: bold;
     line-height: 22px;
     margin: 0px 4px 0px 0px;
     padding: 5px 7px;
}

.paging a:visited {
     color: #444444;
}

.paging a:hover {
     background-color: #A71C20;
     border-color: #A71C20;
     color: #FFFFFF;
}

.form-table {
     border-collapse: separate;
     margin: 0px 0px 1.5em;
     width: 100%;
}

.form-table td {
     border-bottom: 1px solid #EAF1F5;
     border-top: 1px solid #FEFEFE;
     padding: 10px 8px 12px 12px;
}

.form-table .span-1, .form-table .span-2, .form-table .span-3, .form-table .span-4 {
     float: left;
     margin-right: 6px;
}

.span-1 {
     width: 46px;
}

.span-2 {
     width: 104px;
}

.span-3 {
     width: 162px;
}

.span-4 {
     width: 221px;
}

.form-table select.span-1, .form-table select.span-2, .form-table select.span-3, .form-table select.span-4 {
     margin-right: 7px;
}

select.span-1 {
     width: 51px;
}

select.span-2 {
     width: 109px;
}

select.span-3 {
     width: 167px;
}

select.span-4 {
     width: 226px;
}

td label {
     font-weight: bold;
}

td span label, td label.label-desc, .questions label {
     color: #4E4D46;
     font-weight: normal;
}

.form-table div, .form-table span, .detail-table div, .detail-table span {
     margin: 0px 6px 0px 0px;
     padding: 0px;
}

.form-table span, .detail-table span {
     float: left;
}

.form-table div.col span, .detail-table div.col span {
     display: block;
     float: left;
     padding: 0px;
     width: 100%;
}

.two-columns div.col span {
     margin: 0px 5px 0px 0px;
     width: 46.5%;
}

.three-columns div.col span {
     margin: 0px 5px 0px 0px;
     width: 30%;
}

.inline div.col span {
     margin: 0px 7px 0px 0px;
     width: auto;
}

.inline div.col span span {
     display: inline;
     float: none;
     margin: 0px;
}

input, textarea, select {
     color: #858585;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 1.083em;
}

option {
     font-family: Arial,Helvetica,sans-serif;
     font-size: 100%;
}

.small {
     font-size: 0.917em;
     line-height: 1.273em;
     margin-bottom: 1.273em;
}

.large {
     font-size: 1.167em;
     line-height: 1.5em;
     margin-bottom: 1.5em;
}

.hide {
     display: none;
}

.quiet {
     color: #666666;
}

.loud {
     color: #000000;
}

.highlight {
     color: #2E71C9;
}

.left {
     float: left;
}

.right {
     float: right;
}

.align-left {
     text-align: left;
}

.align-right {
     text-align: right;
}

.center {
     text-align: center;
}

.sub-nav, .sub-nav li, .sub-nav a, .profile-msg, .module, #global-nav a, .quick-links a, .profile, .useful-links, button, .tabbed-module .pane, .btn, .btn2, .actions, .notice, .information, .success, .error, .clip {
     border-radius: 4px 4px 4px 4px;
}

#sidebar, .module .head, .useful-links-head, .tabs a {
     border-radius: 4px 4px 0px 0px;
}

.pane, .close .module .head, .module-listing .module-content {
     border-radius: 0px 0px 4px 4px;
}

.clip .thumb, .paging a, .paging span, .pagination a, .pagination .active, .handle, .handle-close {
     border-radius: 3px 3px 3px 3px;
}

.clips-wrap {
     width: 824px;
}

.clips-col {
     float: left;
     width: 412px;
}

.clips-col h3 {
     margin-left: 8px;
}

.clip {
     background: none repeat scroll 0% 0% #F5F9FB;
     display: inline;
     float: left;
     margin: 0px 8px 16px;
     padding: 10px;
     width: 376px;
}

.clip .thumb {
     background: none repeat scroll 0% 0% green;
     border: 3px solid #FFFFFF;
     display: block;
     float: left;
     height: 99px;
     overflow: hidden;
     width: 176px;
}

.clip a.thumb:hover {
     border-color: #3EA6AC;
}

.clip .copy {
     margin: 0px 0px 0px 192px;
}

.clip .copy h4 {
     font-weight: bold;
     margin: 0px;
}

.clip .copy p {
     font-size: 0.917em;
     line-height: 1.273;
     margin: 0px;
     text-align: right;
}

.clip .copy table {
     margin: 10px 0px;
}

.clip .copy td {
     font-size: 0.917em;
     line-height: 1.273;
     padding: 2px 0px;
}

.clip .copy .value {
     color: #3EA6AC;
     padding-left: 6px;
     width: 75px;
}

.col-row {
     margin: 0px 0px 28px;
     overflow: hidden;
     width: 842px;
}

.col-row .col-left {
     float: left;
     overflow: hidden;
     width: 411px;
}

.col-row .col-right {
     float: right;
     overflow: hidden;
     width: 411px;
}

.profile {
     background: none repeat scroll 0% 0% #FFFFFF;
     padding: 10px;
}

.profile-info {
     float: left;
     width: 260px;
}

.profile-pic {
     float: right;
     height: 134px;
     overflow: hidden;
     width: 110px;
}

.profile th {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 0px none;
     color: #4E4D46;
     font-size: 14px;
     font-weight: bold;
     padding: 6px 16px 6px 0px;
     width: 120px;
}

.profile td {
     font-size: 14px;
     padding: 6px 0px;
}

.useful-links {
     background: none repeat scroll 0% 0% #C9E4F9;
     width: 411px;
}

.useful-links-head {
     background: none repeat scroll 0% 0% #178AE2;
     overflow: hidden;
     position: relative;
     width: 411px;
}

.useful-links-head .title {
     color: #FEFEFE;
     float: left;
     font-size: 14px;
     font-weight: bold;
     line-height: 34px;
     margin: 0px;
     padding: 0px 10px;
}

.useful-links-content {
     overflow: hidden;
     padding: 10px;
     position: relative;
}

.useful-links ul {
     display: inline;
     float: left;
     list-style: none outside none;
     margin: 0px 20px 0px 0px;
     padding: 0px;
     width: 175px;
}

.useful-links li {
     background: url("../images/link-arrow.gif") no-repeat scroll 0px 6px transparent;
     float: left;
     margin: 0px 0px 4px;
     padding: 0px 0px 0px 8px;
     width: 167px;
}

.useful-links li a {
     color: #2E71C9;
     font-size: 0.917em;
     line-height: 1.333;
     text-decoration: none;
}

.useful-links li a:visited {
     color: #2E71C9;
}

.useful-links li a:hover {
     color: #2E71C9;
     text-decoration: underline;
}

table.date-controls {
     margin: 0px 0px 10px;
     padding: 0px;
     width: 100%;
}

.date-controls td {
     font-size: 14px;
     line-height: 22px;
     padding: 0px;
     vertical-align: middle;
}

.date-controls td img.icon {
     margin-right: 6px;
     vertical-align: middle;
}

table.cal-table {
     border-collapse: separate;
}

.cal-table .day td {
     background: none repeat scroll 0% 0% #E7E7E7;
     font-size: 11px;
     line-height: 28px;
}

.cal-table td {
     background: none repeat scroll 0% 0% #F2F2F2;
     font-size: 14px;
     line-height: 38px;
     padding: 0px;
     text-align: center;
     width: 55px;
}

.cal-table td.na {
     color: #C1BFB7;
}

table.event-table {
    
}

.event-table th {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: none repeat scroll 0% 0% transparent;
     border-color: -moz-use-text-color -moz-use-text-color #EEEFEE;
     border-style: none none solid;
     border-width: 0px 0px 1px;
     color: #2E71C9;
     font-size: 11px;
     line-height: 16px;
     padding: 4px 8px 4px 4px;
}

.event-table td {
     border-bottom: 1px solid #EEEFEE;
     padding: 4px 8px 4px 4px;
}

.event-table td img.bullet {
     margin: 0px 6px 0px 0px;
     vertical-align: middle;
}

.notice-listing {
     overflow: hidden;
     width: 100%;
}

.notice-item {
     margin: 0px 0px 24px;
     width: 100%;
}

.notice-item h3 {
     background: url("../images/underline-bot-arrow.png") no-repeat scroll 0px 100% transparent;
     color: #2E71C9;
     font-size: 16px;
     font-weight: bold;
     line-height: 19px;
     margin: 0px 0px 4px;
     padding: 0px 0px 32px;
}

.notice-item h3 a, .notice-item h3 a:visited {
     background: none repeat scroll 0% 0% transparent;
     color: #2E71C9;
}

.notice-item h3 a:hover {
     color: #A71C20;
}

.notice-item .copy p {
     margin: 0px 0px 12px;
}

.notice-item .copy a {
     background: none repeat scroll 0% 0% transparent;
     color: #51236F;
     font-weight: bold;
}

.notice-item .copy a:visited {
     color: #51236F;
}

.notice-item .copy a:hover {
     color: #51236F;
     text-decoration: underline;
}

.notice-item .timestamp {
     color: #2E71C9;
     font-style: italic;
     margin: 0px;
}

body.login {
     background: url("../images/wrapper-bg.png") repeat scroll 0px 0px #F8F8F8;
     padding: 0px 0px 80px;
}

body.login .module {
     margin: 44px auto;
     width: 310px;
}

body.login .module .head {
     padding: 8px 8px 0px;
}

body.login .module .head .title {
     float: none;
     text-align: center;
}

body.login .pane {
     padding: 16px;
}

body.login table {
     margin: 0px;
}

.form-list-wrap {
     background-color: #F5F9FB;
     overflow: hidden;
     width: 100%;
}

.form {
     border-bottom: 1px solid #FCFCFC;
     list-style: none outside none;
     margin: 0px;
     overflow: hidden;
     padding: 0px;
}

.form li {
     border-bottom: 1px solid #EBEBEB;
     border-top: 1px solid #FCFCFC;
     float: left;
     margin: 0px;
     padding: 10px 8px 12px 12px;
     width: 100%;
}

.form label {
     color: #225472;
     display: inline;
     float: left;
     font-weight: bold;
     padding: 3px 12px 3px 0px;
     width: 240px;
}

.form input {
     display: inline;
     float: left;
     line-height: 100%;
}

.form .select-group {
     display: inline;
     float: left;
     margin: 0px;
     width: auto;
}

.form .select-group td {
     padding: 0px 24px 0px 0px;
     vertical-align: middle;
}

.form .select-group td label {
     color: #4E4D46;
     font-weight: normal;
     margin: 0px;
     padding: 1px 0px 0px 2px;
     width: auto;
}

.side-note {
     float: left;
     font-size: 11px;
     padding: 3px 5px 0px;
}

.bot-note {
     clear: both;
     display: block;
     font-size: 11px;
     margin-left: 152px;
     padding: 0px;
}

.form li.required {
     background: none repeat scroll 0% 0% #FFDDDD;
}

.tooltip-wrap {
     position: relative;
}

#tooltip-feature:hover {
     background-position: 0px -44px;
}

#tooltip-feature:focus {
     background-position: 0px -88px;
}

.tooltip {
     background: url("../images/tooltip/tooltip-tr.png") no-repeat scroll 0px 0px transparent;
     color: #000000 ! important;
     display: none;
     font-size: 11px ! important;
     height: 250px;
     left: -35px ! important;
     padding: 29px 29px 38px ! important;
     top: -305px ! important;
     width: 500px;
     z-index: 1000;
}

.tooltip-scroll {
     height: 250px;
     overflow-y: scroll;
}

.scroll-list {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #EBEBEB #FCFCFC #FCFCFC #EBEBEB;
     border-style: solid;
     border-width: 1px;
     margin: 0px ! important;
     position: relative;
}

.scroll-list .scroll-list-inner {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #FCFCFC #EBEBEB #EBEBEB #FCFCFC;
     border-style: solid;
     border-width: 1px;
     height: 120px;
     margin: 0px ! important;
     overflow-y: scroll;
}

.sitemap-table {
    
}

.sitemap-table td {
     border-left: 1px solid #E2ECF1;
}

.sitemap-table td.first {
     border-left: 0px none;
}

.sitemap-table h4 {
     font-weight: bold;
}

.sitemap-table ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

.sitemap-table ul li {
     background: url("../images/arrow.gif") no-repeat scroll 0px 6px transparent;
     margin: 0px 0px 6px;
     padding: 0px 0px 0px 10px;
}

.survey-form-wrap {
    
}

#main .survey-form {
     border-bottom: 1px solid #D4E0F1;
     list-style: none outside none;
     margin: 0px;
     overflow: hidden;
     padding: 0px;
     width: 100%;
}

#main .survey-form li {
     background: none repeat scroll 0% 0% transparent;
     border-top: 1px solid #D4E0F1;
     float: left;
     margin: 0px;
     padding: 10px 9px;
     width: 100%;
}

#main .survey-form li.error {
     border-bottom: medium none;
     border-left: medium none;
     border-right: medium none;
}

.survey-form label {
     color: #1D1D1D;
     display: inline;
     float: left;
     font-weight: bold;
     padding: 0px 9px 0px 0px;
     width: 320px;
}

.survey-form table td {
     padding: 4px 14px;
     vertical-align: top;
}

.survey-form input {
     display: inline;
     float: left;
}

.survey-form .select-group {
     display: inline;
     float: left;
     margin: 0px;
     width: auto;
}

.survey-form .select-group td {
     padding: 0px 16px 6px 0px;
     vertical-align: middle;
}

.survey-form .select-group td label {
     color: #0C9FE2;
     margin: 0px;
     padding: 1px 0px 0px 2px;
     width: auto;
}

.survey-form-wrap .submit {
     margin-left: 338px;
}

.HC_grid th {
     background: none repeat scroll 0% 0% transparent;
}

.HC_grid th iframe {
     width: 100% ! important;
}

.HC_grid td {
     background: none repeat scroll 0% 0% transparent;
}

.form-table .HE_top_bar {
     padding: 0px 8px 8px;
}
