﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucAJAXFileUpload.ascx.cs" Inherits="SydneyAviators.Web.Controls.ucAJAXFileUpload" %>
<asp:HiddenField ID="hidFileName" runat="server" />
<asp:HiddenField ID="hidDirName" runat="server" />
<asp:HiddenField ID="hidFilePath" runat="server" />
<iframe id="frame" runat="server" scrolling="no" style="width: 100%; height: 38px;
    border-width: 0; overflow: hidden;" frameborder="0"></iframe>
