/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, dfn, em, img, q, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
:focus { outline: 0; }
fieldset, img { border: 0; }
/* to prevent a gap from showing below images in some browsers */
img { vertical-align: bottom; }

/* COLOURS
============================================================================================== 
Text
	- blue			#3fbbef
	- green			#a3b700
	- green light	#c9dc22
	- text			#828282
	- intro			#737373
	- td			#616161
	- title			#444

BG
	- blue			#67d0fc
	- dark blue		#076fb2
	- green			#bdcf23
	- grey			#ededed
	- sidebar		#f4f4f4
	- td			#f5f9fb
	- td border		#e2ecf1
	- border		#eee

   Base
================================================= */
html {
	height: 100%;
	overflow-y: scroll; }

body {
	height: 100%;
	color: #828282;
	font: 76%/1.48 Arial, Helvetica, sans-serif;
	background: #fff url(../images/bg_body.png) 0 0 repeat; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #3fbbef;
	font-weight: bold;
	line-height: 1em;
	margin: 0; }

h1, .h1 {
	color: #fff;
	font-size: 50px; }

	h1 span, .h1 span {
		display: block;
		padding-left: 2px;
		font-size: 15px;
		font-weight: normal;
		letter-spacing: normal;
		line-height: 19px; }

h2, .h2 {
	color: #444;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 1em; }

h3, .h3 {
	font-size: 1.417em;
	border-bottom: 1px solid #eee;
	padding-bottom: .3em;
	margin-bottom: .7em; }

h4, .h4 {
	font-size: 1.417em;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: .6em; }

h5, h6, .h5, .h6 {
	font-size: 1em;
	margin-bottom: .5em; }


p { margin-bottom: 18px; }
sup, sub { font-size: .833em; }
em, i { font-style: italic; }

a { color: #3fbbef; text-decoration: none; }
a:hover { color: #3fbbef; }


ul, ol {
	margin-bottom: 1.5em;
	padding: 0;
	line-height: inherit; }

ul ul, ul ol, ol ol, ol ul { margin: 0; }

li {
	display: list-item;
	list-style-position: outside;
	margin: 0 0 0 2em;
	padding: 0; }


table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 18px; }

th, td {
	padding: 8px;
	line-height: 1.167em; }

table { background: #67d0fc url(../images/thead.gif) 0 0 no-repeat; }
.cols3 table { background: #67d0fc url(../images/thead_cols3.gif) 0 0 no-repeat; }

thead th {
	color: #fff;
	font-weight: bold;
	text-align: left; }
	
td {
	color: #616161;
	background: #f5f9fb;
	border-top: 1px solid #e2ecf1;
	padding: 12px 8px; }
	
.total td { font-weight: bold; }

td td { font-size: 1em; }

/* ---------------------
	Classes
--------------------- */
p.intro {
	font-size: 1.167em;
	line-height: 1.429; }

p.small {
	font-size: 0.917em;
	line-height: 1.273; }
	
.txt-col { color: #3fbbef !important; }

.sml-title {
	display: block; /* New line */
	color: #a3b700 !important;
	font-size: 10px !important;
	line-height: 1 !important;
	text-transform: uppercase; }

.left {
	float: left !important;
	display: inline; }

.right {
	float: right !important;
	display: inline; }

img.left {
	margin-right: 18px;
	margin-bottom: 18px; }

img.right {
	margin-left: 18px;
	margin-bottom: 18px; }

.alignleft { text-align: left; }
.alignright { text-align: right; }
.center { text-align: center; }

img.thumb { border: 3px solid #ededed !important; }

a.more { font-weight: bold; }

	a.more:hover { color: #a3b700; }

a.btn, a.btn2, a.btn3 {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	background: url(../images/btnR.png) right top no-repeat;
	cursor: pointer; }
	
	a.btn span, a.btn2 span, a.btn3 span {
		margin: 0 10px 0 0; /* Show right edge of BG on the <a> */
		position: relative;
		float: left;
		padding: 6px 0 6px 10px;
		color: #fff;
		background: url(../images/btnL.png) left top no-repeat; }
	
a.btn2 { background: url(../images/btn2R.png) right top no-repeat; }

	a.btn2 span { background: url(../images/btn2L.png) left top no-repeat; }
	
a.btn3 { background: url(../images/button2R.png) right top no-repeat; }

	a.btn3 span { color: #000; background: url(../images/button2L.png) left top no-repeat; }

	a.btn:hover, a.btn2:hover, a.btn3:hover { background-position: right bottom; }
	
	a.btn3:hover span { color: #FFF; }
	
		a.btn:hover span, a.btn2:hover span, a.btn3:hover span { background-position: left bottom; }
		
a.right { margin-left: 8px; }
	
	
a.btn-text {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	height: 24px;
	background: url(../images/btn_textR.png) right top no-repeat;
	cursor: pointer; }
	
	a.btn-text span {
		margin: 0 32px 0 0; /* Show right edge of BG on the <a> */
		position: relative;
		float: left;
		padding: 4px 0 4px 10px;
		color: #000;
		background: url(../images/btn_textL.png) left top no-repeat; }
	
	a.btn-text:hover { background-position: right bottom; }
	
		a.btn-text:hover span { background-position: left bottom; }

/* Reset to none */
.first { margin-left: 0 !important; }
.last { margin-right: 0 !important; }
.top { margin-top: 0 !important; }
.bottom { margin-bottom: 0 !important; }
.hidden { display: none; }

.clear { clear: both; }

/* Clearfix */
.group:after, .form:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }
* html .group, * html .form { zoom: 1; }
*:first-child+html .group, *:first-child+html .form { zoom: 1; }

/* Layout
================================================= */
.page { background: url(../images/bg_page.jpg) center top no-repeat; }
.home { background: url(../images/bg_page_home.jpg) center top no-repeat; overflow: hidden; }
.face { background:  url(../images/facebook-bg_02.png) center  13% no-repeat; }

#container {
	width: 960px;
	margin: 0 auto;
	background: #fff; }

/* Float Columns */
.wrapper, .main, .sidebar, .cols3 .content, .cols3 .sup-content, .col1, .col2, .col3 {
	float: left;
	display: inline; }

/* Default (sidebar - main) */
.wrapper {
	width: 924px;
	margin: 0 18px;
	padding-bottom: 60px;
	/* Faux column BG (sidebar) */
	background: url(../images/bg_sidebar.gif) 0 0 repeat-y; }

.main {
	float: right;
	width: 670px;
	margin-right: 18px; }

.sidebar {
	width: 176px; /* width + padding = 200px */
	padding: 12px; }
	
/* 3 Columns (sidebar - main - sup-content) */
.cols3 .main {
	width: 688px;
	margin-right: 0; }
	
.cols3 .content { width: 472px; }

.cols3 .sup-content {
	width: 180px;
	margin-left: 36px;
	margin-top: 20px; }

/* Homepage (3 columns) */
.cols3-home { background: none; }

	.cols3-home .main {
		width: 924px;
		margin-right: 0; }

	.cols3-home .col1 {
		width: 284px;
		margin-right: 36px; }

	.cols3-home .col2 {
		width: 284px;
		margin-right: 36px; }

	.cols3-home .col3 { width: 284px; }
	
/* Full Width layout (Booking) */
.fullwidth { background: none; }

.fullwidth .main {
	float: none;
	width: 870px; }
	
.fullwidth .breadcrumbs { padding-left: 0; }

/* Header
================================================= */
#header {
	position: relative;
	padding-bottom: 44px; /* Breadcrumb Space (remains when empty) */
	background: url(../images/bg_header.png) 0 0 repeat-x; }
	
.home #header { padding-bottom: 8px; }

a.logo {
	display: block;
	width: 175px;
	height: 206px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo.png) 0 0 no-repeat;
	position: absolute;
	top: 20px;
	left: 390px;
	z-index: 100; }

/* ---------------------
	Global Nav
--------------------- */
.nav-wrap {
	width: 960px;
	min-height:100px;
	height:auto !important;
	height:100px;
	overflow: hidden;
	position: relative; }

.nav-wrapL, .nav-wrapR {
	width: 480px;
	float: left;
	display: inline;
	margin-top: 37px;
	position: relative; }
	
ul.nav {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0; }
	
ul.navL { right: 89px; }

ul.navR { left: 89px; }

	ul.nav li {
		margin: 0;
		padding: 0;
		line-height: 1;
		float: left;
		display: inline;
		list-style: none; }
		
	ul.navL li { margin-left: 16px; }
	
	ul.navR li { margin-right: 24px; }
		
	ul.nav a {
		display: block;
		float: left;
		color: #2d2d2d;
		font-size: 1.167em;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer; }
		
		ul.nav a span {
			margin: 0 12px 0 0; /* Show right edge of BG on the <a> */
			position: relative;
			float: left;
			padding: 6px 0 6px 12px; }
		
		ul.nav a:hover { color: #3fbbef; }

		ul.nav a.current { background: url(../images/nav_current.png) right top no-repeat; }
		
			ul.nav a.current span { background: url(../images/nav_current.png) left top no-repeat; }
		

/* ---------------------
	Banner
--------------------- */
.banner {
	clear: both;
	width: 960px;
	height: 230px;
	position: relative;
	background: url(../images/banner_01.jpg) 0 0 no-repeat; }
	
.banner-title {
	width: 331px;
	height: 172px;
	float: left;
	margin: 26px 0 0 6px;
	background: url(../images/banner_title.png) 0 0 no-repeat; }
	
	.banner-title h1 { padding: 28px 18px 0 22px; }
	
.btn-enquiry {
	display: block;
	width: 164px;
	height: 35px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/btn_make-an-enquiry.png) 0 0 no-repeat;
	position: absolute;
	top: 10px;
	right: 18px; }
	
/* ---------------------
	Homepage Banner
--------------------- */
.home-banner {
	clear: both;
	width: 960px;
	height: 460px;
	position: relative; }

.home-banner .banner-title {
	width: 392px;
	height: 226px;
	float: left;
	margin: 120px 0 0 370px;
	background: url(../images/banner_title_home.png) 0 0 no-repeat; }
	
		.home-banner .banner-title h1 { padding: 24px 18px 0 32px; }
			
			.home-banner .banner-title h1 span {}
	
		.home-banner .banner-title p {
			padding: 0 26px 0 36px;
			margin: 0;
			color: #fff; }
			
/* Scrollable */
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 960px;
	height: 460px; }
	
	.scrollable .items {
		/* allow for 3 items */
		width: 2880px;
		position:absolute; }
	
	.scrollable .item {
		float: left;
		width: 960px;
		height: 460px;
		background-position: left top;
		background-repeat: no-repeat;
		/* background: url(../images/banner_home_01.jpg) 0 0 no-repeat; */ }

/* position and dimensions of the navigator */
.navi {
	position: absolute;
	top: 30px;
	right: 30px; }


	/* items inside navigator */
	.navi a {
		width: 12px;
		height: 12px;
		display: block;
		float: left;
		margin-left: 8px;
		text-indent: -9999px;
		cursor: pointer;
		background: url(../images/controls.png) left top no-repeat; }

	/* active state (current page state) */
	.navi a.active { background-position: left bottom; }

	
/* ---------------------
	Banner Promos
--------------------- */
.promo-wrap {
	width: 320px;
	height: 360px;
	position: absolute;
	left: 0;
	top: 0; }
	
.promo-item {
	width: 320px;
	height: 180px;
	overflow: hidden; }
	
	.promo-1 { background: url(../images/promo_01.jpg) 0 0 no-repeat; }
	
	.promo-2 { background: url(../images/promo_02.jpg) 0 0 no-repeat; }
	
	.promo-item .inner { padding: 18px 18px 0; }
	
	.promo-item h4 {
		color: #c9dc22;
		font-size: 2.667em;
		font-weight: bold; }
		
	.promo-item p {
		width: 60%;
		color: #fff; }


/* Sidebar
================================================= */
.sidebar { background: url(../images/bg_sidebar_top.gif) 0 0 no-repeat; }

/* ---------------------
	Menu
--------------------- */
ul.menu { float: left; }

	ul.menu li {
		clear: both;
		width: 176px;
		margin: 0 0 2px;
		padding: 0 0 2px;
		display: block;
		float: left;
		border-bottom: 1px solid #e2e2e2; }

		ul.menu li a {
			width: 176px;
			display: block;
			float: left;
			padding-bottom: 6px;
			color: #828282;
			line-height: 1.273;
			cursor: pointer; }

			ul.menu li a span {
				display: block;
				padding: 6px 6px 0; }

			ul.menu li a:hover { color: #3fbbef; }

			ul.menu li a.current {
				background: url(../images/menu_current.png) left bottom no-repeat;
				color: #fff; }

				ul.menu li a.current span { background: url(../images/menu_current.png) left top no-repeat; }

				ul.menu li a.current:hover { color: #fff; }


/* Content
================================================= */

/* ---------------------
	Breadcrumbs
--------------------- */
.breadcrumbs {
	/* Position into header padding */
	width: 888px;
	position: relative;
	margin: -44px 0 0;
	padding: 18px;
	background: #fff;
	font-size: .917em;
	line-height: 14px;
	text-transform: uppercase; }

	.breadcrumbs a {
		float: left;
		color: #3f3f3f;
		line-height: 14px; }

		.breadcrumbs a:hover { color: #3fbbef; }

	.breadcrumbs .sep {
		display: block;
		float: left;
		width: 3px;
		height: 14px;
		overflow: hidden;
		margin: 0 6px;
		background: url(../images/breadcrumb-sep.gif) left center no-repeat;
		text-indent: -9999px; }

/* ---------------------
	General
--------------------- */
.content h3 { clear: both; }

.content ul li {
	margin: 0 0 .25em;
	padding: 0 0 0 1.25em;
	list-style: none;
	background: url(../images/bullet.gif) 4px 7px no-repeat; }


/* ---------------------
	Listing
--------------------- */
.listing { overflow: hidden; }
	
	.listing .item {
		width: 100%;
		overflow: hidden;
		padding-bottom: 18px;
		border-bottom: 1px solid #eee;
		margin-bottom: 18px; }
		
	.listing .img {
		width: 146px;
		float: left;
		display: inline;
		margin-right: 18px;
		/* layout remains when empty */
		padding-top: 1px; }
		
	.listing .copy {
		width: 506px;
		float: left;
		display: inline; }
		
/* ---------------------
	Listing + Sup col
--------------------- */
.listing-sup .copy {
	width: 358px;
	margin-right: 36px; }
		
	.listing-sup .sub-copy {
		width: 112px;
		float: left;
		display: inline; }
	
	.listing-sup .txt {
		/* Height to line up BTN with bottom of thumbnail */
		min-height:117px;
		height:auto !important;
		height:117px; }
		
	p.rate {
		color: #a5a5a5;
		line-height: 1.167; }
		
		p.rate strong, p.rate a {
			color: #3fbbef;
			font-size: 2em;
			font-weight: bold; }
			
			p.rate a:hover { color: #a3b700; }
			
/* ---------------------
	Listing-Grid
--------------------- */
.listing-grid {
	/* 670 + 18 = 688 */
	width: 688px;
	overflow: hidden; }
	
	.listing-grid .row {
		width: 100%;
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px; }
		
	.listing-grid .item {
		/* width + padding = 344px */
		width: 328px;
		padding: 8px;
		overflow: hidden;
		float: left;
		display: inline; }
		
		.listing-grid.hover .item { padding: 8px 8px 12px; }
		
		/* Change BG colour of div on hover */
		.listing-grid.hover .item:hover { background: #f5f9fb; }
		
	.listing-grid .img {
		width: 76px;
		float: left;
		display: inline;
		margin-right: 12px;
		/* layout remains when empty */
		padding-top: 1px; }
		
	.listing-grid .copy {
		width: 230px;
		float: left;
		display: inline; }
		
		.listing-grid .copy p { margin-bottom: 0; }
		
	.listing-grid .btn-wrap {
		clear: both;
		float: left;
		display: inline;
		margin-top: 18px;
		margin-left: 88px; }
		
		
/* ---------------------
	Detail
--------------------- */
.detail { overflow: hidden; }
	
	.detail .item {
		width: 100%;
		overflow: hidden;
		margin-bottom: 18px; }
		
	.detail .img {
		width: 146px;
		float: left;
		display: inline;
		margin-right: 18px;
		/* layout remains when empty */
		padding-top: 1px; }
		
	.detail .copy {
		width: 506px;
		float: left;
		display: inline; }
		
/* ---------------------
	Detail + Sup col
--------------------- */
.detail-sup .copy {
	width: 358px;
	margin-right: 36px; }
		
	.detail-sup .sub-copy {
		width: 112px;
		float: left;
		display: inline; }
	

/* ---------------------
	Sup/Sub Content
--------------------- */
.sub-copy p {
	font-size: .917em;
	line-height: 1.273;
	margin-bottom: 1em; }
			
.sup-content .item {
	width: 180px;
	float: left;
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee; }

.contact h4 { margin-bottom: 0; }

.contact p { line-height: 1.333; }
	
	.contact p strong {
		display: block;
		margin-top: 18px;
		color: #737373; }
		
.sub-copy .item {
	/*border-bottom:1px solid #EEEEEE;
	overflow:hidden;
	padding-bottom:18px;
	margin-bottom: 18px;*/
	margin-bottom: 36px; }
	
	.sub-copy .item .rate {
		border-bottom:1px solid #EEEEEE;
		padding-bottom:18px;
		margin-bottom: 18px; }

/* ---------------------
	Tabs
--------------------- */		
ul.tabs {
	margin: 0;
	padding: 0 12px;
	height: 32px; }
 
	ul.tabs li {
		float: left;
		display: inline;
		padding: 0;
		list-style-type: none; }
 
	ul.tabs a {
		float: left;
		display: block;
		height: 32px;
		line-height: 32px;
		margin: 0 4px 0 0;
		padding: 0 18px;
		background: #67d0fc;
		color: #fff;
		font-size: 1.167em;
		font-weight: bold;
		text-decoration: none;
		position: relative; }
 
		ul.tabs a:hover {
			color: #fff;
			background: #bdcf23; }
 
		ul.tabs a.current {
			background: #F5F9FB !important;
			color: #444 !important;
			cursor: default; }

	
	
/* Homepage Content
================================================= */
.home h2 {
	font-size: 1.5em;
	margin-bottom: 24px; }

.home p {
	font-size: 1.167em;
	line-height: 1.286; }
	
	.home p.intro {
		color: #3fbbef;
		font-size: 1.333em;
		line-height: 1.25; }
		
ul.links li {
	margin: 0 0 .25em;
	padding: 0 0 0 1em;
	list-style: none;
	font-size: 1.167em;
	line-height: 1.143;
	background: url(../images/bullet.gif) 4px 6px no-repeat; }
	
ul.links a { color: #828282; }

	ul.links a:hover { color: #3fbbef; }

.home .listing .img { width: 76px; }

.home .listing .copy { width: 190px; }

.home .listing p { margin-bottom: 0; }


/* Footer
================================================= */
#footer {
	clear: both;
	height: 102px;
	padding: 18px 18px 0;
	background: url(../images/bg_footer.png) 0 0 repeat-x;
	border-top: 1px solid #e3e3e3; }
	
	#footer p {
		font-size: 12px;
		line-height: 16px; }


/* Forms
================================================= */
.form {
	margin-bottom: 18px;
	padding: 12px 18px;
	background: #f5f9fb; }

/* Reset form tables */
.form table, .form table td {
	background: none;
	border: 0; }
	
.form table td {
	padding: 0 18px 4px 0;
	vertical-align: top; }

.form-table td label {
	display: block;
	padding-top: 4px; }

/* Input appearance */
input.text, textarea, select {
	padding: 5px;
	background: #fff;
	border: 1px solid #c5e3f0;
	color: #828282;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; }
	
	input.text.error, textarea.error, select.error {
		border: 1px solid #ef4323;
		background: #fef5f3;
	}
 
option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; }
 
input.text:focus, textarea:focus, select:focus { color: #444; border: 1px solid #67d0fc; background: #fff; }
 
/* Inputs, Textareas and, dropdowns widths */
.form-table input.text { width: 360px; }
.form-table textarea { width: 360px; height: 100px; }
.form-table select { width: 370px; }

.cols3 .form-table input.text { width: 230px; }
.cols3 .form-table textarea { width: 230px; height: 100px; }
.cols3 .form-table select { width: 240px; }

.form-table-2cols input.text { width: 230px; }
.form-table-2cols textarea { width: 230px; height: 100px; }
.form-table-2cols select { width: 240px; }

.form-table-2cols input.med { width: 130px; }
.form-table-2cols select.med { width: 140px; }

/* Checkbox and Radio Button Lists */
div.inline {
	position: relative;
	margin: 4px 0 4px -4px; }
 
	div.inline label {
		display: inline;
		margin-right: 14px; }

div.stacked { margin-left:2px; }
	 
	div.stacked label {
		display: block;
		padding-left: 19px;
		text-indent: -19px;
		line-height: 1.333;
		margin-bottom:4px; }
	 
	div.stacked input {
		width: 13px;
		height: 13px;
		padding: 0;
		margin: 0 4px 0 0;
		vertical-align: bottom;
		position: relative;
		top: -3px;
		*overflow: hidden; /* IE6 fix */ }


/* Misc.
================================================= */
.form,input.text,textarea,select, .key {
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;	
	-moz-border-radius: 4px;
	border-radius: 4px; }
	
ul.tabs a {
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;	
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; }

table.ajax__validatorcallout
{
    background: none;
    width: 200px;
}
table.ajax__validatorcallout td { vertical-align:top;}
table.ajax__validatorcallout table { background: none; }


/* Booking Form Rate */	
.form-table td.rate {
	color: #3fbbef;
	font-size: 2em;
	font-weight: bold; }
	
.form-table .align { margin-top: 4px;}
	
/* ComboBox */
p.c9 {font-weight: bold}
div.c8 {width:100px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
div.c7 {display: none; height: 300px; width: 100%; z-index: 6000}
ul.c6 {list-style:none;margin:0;padding:0;zoom:1;}
table.c5 {border-width:0;width:100%;margin:0;}
table.c5 td { padding: 0 4px 0 0;}
a.c4 {overflow: hidden;display: block;position: relative;outline: none;margin-top:6px;}
td.c3 {width:100%;}
input.c2 {}
img.c1 {border-style:None;border-width:0px;cursor:pointer;}

/* Time Chart Table */
.timeChart-table {
	margin: 0;
	background-color: #ffffff; }

	.timeChart-table td {
		padding: 0;
		vertical-align: top;
		background: #fff;
		border: 1px solid #dfdfdf;
		border-left-color: #f5f9fb;
		border-right-color: #f5f9fb; }
		
			.timeChart-table td.name {
				width: 304px;
				padding: 8px 0 0 8px;
				background: #fff; }
				
				.timeChart-table td.name h2 {
					margin-bottom: 12px;
					font-size: 1.333em; }
				
				.timeChart-table td.name p {
					margin-bottom: 12px;
					font-size: 0.917em;
					text-transform: uppercase; }
					
					.timeChart-table td.name p.hostType {
						margin-bottom: 0;
						text-transform: none; }
				
	.timeChart-table .timeHolder {
		width: 60px;
		height: 100px;
		position: relative;
		background: #eef5ad; }
		
		.timeChart-table .timeHolder .timeHalf {
			width: 30px;
			height: 100px;
			float: left;
			display: inline;
			position: absolute; }
			
		.timeChart-table .timeHolder .b { left: 30px; }

			.timeChart-table .timeHolder .selected { background: #bed021; }
			
				.timeChart-table .timeHolder .selected p.time, .timeChart-table .timeHolder .selected p.time span { color: #000; }
			
			/* 'hover' class added with jQuery for IE6 */
			.timeChart-table .timeHolder .timeHalf:hover, .timeChart-table .timeHolder .hover {
				background: #bed021;
				cursor: pointer; }
								
			.timeChart-table .timeHolder .unavailable, .timeChart-table .timeHolder .unavailable:hover { background: #e1f8fe; cursor: default; }
			
				.timeChart-table .timeHolder .unavailable p.time {}
				
					.timeChart-table .timeHolder .unavailable p.time span {}
		
		.timeChart-table td p.time {
			padding-top: 8px;
			padding-left: 10px;
			color: #6a6b65;
			font-size: 14px;
			line-height: 1.2;
			position: absolute; }
			
			.timeChart-table td p.time span {
				display: block;
				margin-top: 6px;
				color: #7f8078;
				font-size: 10px; }

.timeChart-nav { margin: 12px 0 12px 191px; }
	
	.timeChart-nav .prev { float: left; }
	
	.timeChart-nav .next { float: right; }

/* 12hr and 24hr buttons */
.time-btns a {
	display: block;
	float: left;
	width: 47px;
	height: 28px;
	overflow: hidden;
	margin-right: 2px;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-position: left top; }
	
	.time-btns a.timeBTN-L { background-image: url(../images/btn_12hr.png); }
	.time-btns a.timeBTN-R { background-image: url(../images/btn_24hr.png); }
	
	.time-btns a.active, .time-btns a:hover { background-position: left bottom; }

/* Total Rate */
.total-rate {
	margin-bottom: 0;
	color: #3fbbef;
	line-height: 1.167;
	text-transform: uppercase;
	text-align: right; }
	
	.total-rate strong, p.rate a {
		color: #3fbbef;
		font-size: 2em;
		font-weight: bold; }
/*	
a.prev {
	padding-left: 8px;
	background: url(../images/prev.gif) no-repeat left center; }
	
a.next {
	padding-right: 8px;
	background: url(../images/next.gif) no-repeat right center; }
*/
	
/* KEY */
.key-wrap {
	width: 345px;
	float: left;
	display: inline;
	margin-left: 80px;
	margin-top: -4px;
	position: relative;
	overflow: hidden; }

.key-wrap .label {
	float: left;
	padding-right: 12px;
	color: #3fbbef;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px; }

.key {
	float: left;
	padding: 4px 16px 4px 0;
	border: 1px solid #dfedf4;
	background: #f5f9fb; }
	
	.key ul {
		margin: 0;
		padding: 0;
		list-style: none; }
	
		.key ul li {
			float: left;
			display: inline;
			margin: 0 0 0 16px;
			padding: 0;
			background: none;
			color: #686868;
			font-size: 11px; }
			
			.key ul li img { vertical-align: middle; }

/* REQUIRED BUTTON STYLES: */
button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}

/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
.button, .button2 {
	float: left;
	margin-right: 8px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/buttonR.png) right top no-repeat;
}

.button2 { background: url(../images/button2R.png) right top no-repeat; }
	
.button span, .button2 span {
	padding: 6px 0 6px 10px;
	margin: 0 8px 0 0; /* Show right edge of BG on the <a> */
	height:16px;
	line-height: 1.2;
	background: url(../images/buttonL.png) left top no-repeat;
	color:#fff; 
}

.button2 span { color: #000; background: url(../images/button2L.png) left top no-repeat; }
	
.button:hover, .button-hover, .button2:hover, .button2-hover { /* the redundant class is used to apply the hover state with a script */
	background-position: right bottom;
}
	
.button:hover span, .button-hover span, .button2:hover span, .button2-hover span {
	background-position: left bottom;
}

.button.right, .button2.right,  {
	margin-right: 0;
	margin-left: 8px;}

/* Prev - Next buttons */		
a.next{
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	height: 24px;
	background: url(../images/btn_nextR.png) right top no-repeat;
	cursor: pointer; }
	
	a.next span {
		margin: 0 32px 0 0; /* Show right edge of BG on the <a> */
		position: relative;
		float: left;
		padding: 4px 0 4px 10px;
		color: #000;
		background: url(../images/btn_nextL.png) left top no-repeat; }
	
	a.next:hover { background-position: right bottom; }
	
		a.next:hover span { background-position: left bottom; }

a.prev{
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	height: 24px;
	background: url(../images/btn_prevL.png) left top no-repeat;
	cursor: pointer; }
	
	a.prev span {
		margin: 0 0 0 32px; /* Show right edge of BG on the <a> */
		position: relative;
		float: left;
		padding: 4px 10px 4px 0;
		color: #000;
		background: url(../images/btn_prevR.png) right top no-repeat; }
	
	a.prev:hover { background-position: left bottom; }
	
		a.prev:hover span { background-position: right bottom; }

label { }

/* Login
------------------------------------------- */
/* Login Button */
a.btn-login {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	height: 24px;
	background: url(../images/btn_loginR.png) right top no-repeat;
	cursor: pointer; }
	
	a.btn-login span {
		margin: 0 32px 0 0;
		position: relative;
		float: left;
		padding: 4px 0 4px 10px;
		color: #000;
		background: url(../images/btn_loginL.png) left top no-repeat; }
	
	a.btn-login:hover, a.login-menu-open { background-position: right bottom; }
	
		a.btn-login:hover span, a.login-menu-open span { background-position: left bottom; }

/* Login Position */
.login-nav {
	position: absolute;
	top: 0;
	right: 8px;
	z-index: 400; }
	
.login-text {
	float: left;
	margin: 4px 12px 0 0;
	font-size: 11px; }

/* Login Dropdown */
.login-menu {
	display: none;
	width: 200px;
	position: absolute;
	top: 24px;
	right: 8px;
	z-index: 500;
	background: #f5f9fb;
	border: 4px solid #e2ecf1;
	-webkit-border-radius: 4px 0 4px 4px;
	-khtml-border-radius: 4px 0 4px 4px;	
	-moz-border-radius: 4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
	
	.login-menu-inner { padding: 12px 12px; }
	
	.login-menu p {
		clear: both;
		overflow: hidden;
		font-size: 12px;
		line-height: 17px;
		margin-bottom: 8px; }
		
		.login-menu p.forgot {
			font-size: 11px;
			line-height: 16px; }
	
	.login-menu label {
		display: block;
		margin-bottom: 3px; }
		
	.login-menu input.text { width: 164px; }
	
/* Logout Button */
a.btn-logout {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	height: 24px;
	background: url(../images/btn_loginR.png) right top no-repeat;
	cursor: pointer; }
	
	a.btn-logout span {
		margin: 0 32px 0 0;
		position: relative;
		float: left;
		padding: 4px 0 4px 10px;
		color: #000;
		background: url(../images/btn_loginL.png) left top no-repeat; }
		
			a.btn-logout:hover, a.login-menu-open { background-position: right bottom; }
	
		a.btn-logout:hover span, a.login-menu-open span { background-position: left bottom; }
		
		
		
		
		
		
	
/* FACEBOOK */
	
.facebook-wrapper {
	clear: both;
	background: url(../images/facebook-bottom_03.png);
	height: 546px;
	position: relative;
}
		
#facebook {
    width: 887px;
    position: absolute;
    top: 125px;
    left: 40px;
}

#likebox-frame {
	width:880px;
	z-index:10;
	height: 392px;
	overflow: hidden;
	position:relative;
	top:-1px;
	left:-1px;
	bottom: -10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#likebox-frame iframe {
	left:-5px;
	overflow:hidden;
	position:relative;
	top:-1px;
}

.facebook-tile {
	position: absolute;
	width: 350px;
	top: 80px;
	left: 30px;
	}
	
.facebook-tile h2 {
    color: #fff !important;
    font-size: 18px !important;}
		
.facebook-comments-wrapper {
	width: 472px;
	clear: both;
	background: #f2f2f2;
	-moz-border-radius: 5px;
    border-radius: 5px; 
}

#inside_comments {
	width: 450px;
	margin: auto;
	padding-top: 15px;
}

.fb_ltr {
    background:#f2f2f2;
}

#inside_comments h2 {
	font-size: 16px !important;
	margin-bottom: 10px !important;}
	
	
	
#facebook-container {	width: 960px;
	margin: 0 auto;
	background: #fff; }