/* RadComboBox Default skin */

/*global*/

.RadComboBox *
{
	margin: 0;
	padding: 0;
}

.RadComboBox,
.RadComboBox .rcbInput,
.RadComboBoxDropDown
{
	font: 12px "Segoe UI", Arial, sans-serif;
	color: #333;
	text-align: left;
}

.RadComboBox_rtl,
.RadComboBox_rtl .rcbInput,
.RadComboBoxDropDown_rtl
{
	text-align: right;
}

/* combobox */

.RadComboBox
{
	vertical-align: middle;
}

* html .RadComboBox { vertical-align: top; }

.RadComboBox table
{
	border: 0;
	border-collapse: collapse;
}

.RadComboBox table td.rcbInputCell
{
	width: 100%;
	height: 22px;
	line-height: 20px;
	vertical-align: top;
	padding: 0;
	border: 0;
	background-color: #ffffff;
	border: 1px solid #B7BABC;
}

.RadComboBox .rcbInputCellLeft,
.RadComboBox .rcbInputCellRight,
.RadComboBox .rcbArrowCellLeft,
.RadComboBox .rcbArrowCellRight
{
	background: url('../images/RadComboBox/rcbSprite.png') no-repeat;
}

* html .RadComboBox .rcbInputCellLeft,
* html .RadComboBox .rcbInputCellRight,
* html .RadComboBox .rcbArrowCellLeft,
* html .RadComboBox .rcbArrowCellRight
{
	background: url('../images/RadComboBox/rcbSprite.png') no-repeat;
}

.RadComboBox td.rcbInputCellLeft { background-position: 0 0; }
.RadComboBox td.rcbInputCellRight { background-position: 100% 0; }

.RadComboBox .rcbHovered .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox .rcbHovered .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox .rcbFocused .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox .rcbFocused .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -22px; }
.RadComboBox .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -22px; }

.RadComboBox .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -44px; }
.RadComboBox .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -44px; }

.RadComboBox .rcbInputCell .rcbInput
{
	width: 100%;
	background: transparent;
	border: 0;
	vertical-align: top;
	padding: 3px 0 0;
	outline: 0;
}

.RadComboBox .rcbInputCell .rcbEmptyMessage
{
	color: #666;
	font-style: italic;
}

.RadComboBox .rcbReadOnly .rcbInput
{
	cursor: default;
}

.RadComboBox table td.rcbInputCell,
.RadComboBox .rcbInputCell .rcbInput
{
	padding-left: 2px;
}

.RadComboBox_rtl table td.rcbInputCell,
.RadComboBox_rtl .rcbInputCell .rcbInput
{
	padding-right: 2px;
	padding-left: 0;
}

.RadComboBox .rcbHovered .rcbInputCell .rcbInput
{
	color: #000;
}

.RadComboBox table td.rcbArrowCell
{
	width: 18px;
	padding: 0;
	border: 0;
}

.RadComboBox td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox td.rcbArrowCellRight { background-position: 0 -88px; }

.RadComboBox .rcbHovered .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox .rcbHovered .rcbArrowCellRight { background-position: -36px -88px; }

.RadComboBox .rcbFocused .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox .rcbFocused .rcbArrowCellRight { background-position: -72px -88px; }

.RadComboBox td.rcbArrowCellHidden,
.RadComboBox .rcbHovered td.rcbArrowCellHidden,
.RadComboBox .rcbFocused td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox table.rcbDisabled td.rcbArrowCellHidden { background-position: -123px -88px; }

.RadComboBox .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

.RadComboBox .rcbArrowCell a
{
	position: relative;
	outline: 0;
	overflow: hidden;
	display: block;
	width: 18px;
	height: 22px;
	text-decoration: none;
	text-indent: -9999px;
	font-size: 1px;
}

div.RadComboBox td.rcbArrowCellHidden,
div.RadComboBox .rcbArrowCellHidden a
{
	width: 3px;
}

/* Read-only styles */

.RadComboBox .rcbReadOnly td.rcbArrowCell { width: 16px; }
.RadComboBox .rcbReadOnly td.rcbArrowCell a { width: 16px; }

.RadComboBox .rcbReadOnly td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox .rcbReadOnly td.rcbArrowCellRight { background-position: -2px -88px; }

.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -38px -88px; }

.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -74px -88px; }

.RadComboBox .rcbReadOnly td.rcbArrowCellHidden,
.RadComboBox .rcbReadOnly td.rcbArrowCellHidden a { width: 3px; } 
.RadComboBox .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

/* dropdown */

.rcbSlide
{
	position: absolute;
	overflow: hidden;
	display: none;
	_height: 1px;
	float: left;
}

.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter,
.RadComboBoxDropDown .rcbMoreResults,
.RadComboBoxDropDown .rcbMoreResults a
{
	background-image: url('../images/RadComboBox/rcbSprite.png');
	background-repeat: no-repeat;
}

* html .RadComboBoxDropDown .rcbHeader,
* html .RadComboBoxDropDown .rcbFooter,
* html .RadComboBoxDropDown .rcbMoreResults,
* html .RadComboBoxDropDown .rcbMoreResults a
{
	background-image: url('../images/RadComboBox/rcbSprite.png');
	background-repeat: no-repeat;
}

.RadComboBoxDropDown
{
	position: absolute;
	background: #fff;
	border: 1px solid #c6c7d2;
	border-top-color: #83868d;
	cursor: default;
	font-size: 11px;
}

.RadComboBoxDropDown_rtl
{
	text-align: right;
	direction: rtl;
}

.RadComboBoxDropDown .rcbScroll
{
	overflow: auto;
	position: relative;
}

.RadComboBoxDropDown .rcbList
{
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter
{
	background-repeat: repeat-x;
	background-color: #f1f2f4;
	background-position: 0 -110px;
	padding: 5px 7px 4px;
}

.RadComboBoxDropDown .rcbHeader
{
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 1px;
}

.RadComboBoxDropDown .rcbFooter
{
	border-top: 1px solid #d5d5d5;
	margin-top: 1px;
}

.RadComboBoxDropDown .rcbNoWrap .rcbItem,
.RadComboBoxDropDown .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown .rcbNoWrap .rcbLoading
{
	white-space: nowrap;
}

.RadComboBoxDropDown .rcbItem,
.RadComboBoxDropDown .rcbHovered,
.RadComboBoxDropDown .rcbDisabled,
.RadComboBoxDropDown .rcbLoading
{
	padding: 2px 19px 2px 6px;
	margin: 0 1px;
	min-height: 13px;
}

* html .RadComboBoxDropDown .rcbItem,
* html .RadComboBoxDropDown .rcbHovered,
* html .RadComboBoxDropDown .rcbDisabled,
* html .RadComboBoxDropDown .rcbLoading
{
	height: 13px;
	word-break: break-all;
}

*+html .RadComboBoxDropDown .rcbItem,
*+html .RadComboBoxDropDown .rcbHovered,
*+html .RadComboBoxDropDown .rcbDisabled,
*+html .RadComboBoxDropDown .rcbLoading
{
	height: auto;
	word-break: break-all;
}

.RadComboBoxDropDown_rtl .rcbItem,
.RadComboBoxDropDown_rtl .rcbHovered,
.RadComboBoxDropDown_rtl .rcbDisabled,
.RadComboBoxDropDown_rtl .rcbLoading
{
	padding: 2px 6px 2px 19px;
}

.RadComboBoxDropDown .rcbImage
{
	vertical-align: middle;
	margin: 0 6px 2px 0;
}

.RadComboBoxDropDown_rtl .rcbImage
{
	margin: 0 0 2px 6px;
}

.RadComboBoxDropDown em
{
	font-style: normal;
	font-weight: bold;
}

.RadComboBoxDropDown .rcbItem em
{
	background: #e5e5e5;
}

.RadComboBoxDropDown .rcbHovered
{
	background: #dfdfdf;
	color: #000;
}

.RadComboBoxDropDown .rcbSeparator
{
    color: #fff;
    background: #8a8a8a;
}

.RadComboBox .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown .rcbDisabled
{
	color: #999;
	cursor: default;
}

.RadComboBox .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox .rcbDisabled td.rcbArrowCellRight { background-position: -110px -88px; }

.RadComboBoxDropDown .rcbLoading
{
	background: #f0f0f0;
	text-align: center;
}

.RadComboBoxDropDown .rcbMoreResults
{
	clear: both;
	border-top: 1px solid #c6c7d2;
	background-position: 0 -132px;
	background-repeat: repeat-x;
	background-color: #e6e6e6;
	position: relative;
	padding: 0 6px 0;
	text-align: center;
	margin-top: 1px;
	color: #8a8a8a;
}

.RadComboBoxDropDown .rcbMoreResults a
{
	display: inline-block;
	width: 15px;
	height: 9px;
	background-position: -157px -94px;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
}

* html .RadComboBoxDropDown .rcbMoreResults a
{
	font-size: 0;
	line-height: 0;
	text-indent: 0;
}

*+html .RadComboBoxDropDown .rcbMoreResults a
{
	font-size: 0;
	line-height: 0;
	text-indent: 0;
}

.RadComboBoxDropDown .rcbMoreResults span
{
	vertical-align: middle;
	height: 19px;
	line-height: 19px;
	display: inline-block;
}

.RadComboBoxDropDown .rcbSeparatedList .rcbItem,
.RadComboBoxDropDown .rcbSeparatedList .rcbHovered,
.RadComboBoxDropDown .rcbSeparatedList .rcbDisabled,
.RadComboBoxDropDown .rcbSeparatedList .rcbLoading
{
	padding-left: 12px;
}

.RadComboBoxDropDown .rcbSeparatedList .rcbSeparator
{
	padding-left: 6px;
}

/*hacks*/

/*Opera start*/
@media screen and (min-width: 550px)
{
	.RadComboBoxDropDown_rtl .rcbItem,
	.RadComboBoxDropDown_rtl .rcbHovered,
	.RadComboBoxDropDown_rtl .rcbDisabled,
	.RadComboBoxDropDown_rtl .rcbLoading
	{
		padding: 2px 6px 2px 19px;
	}
	
	:root .RadComboBox .rcbInputCell .rcbInput
	{
		margin-top: 2px;
	}
} /*Opera end*/

