<%@ Page Language="C#" %>
<%@ Register TagPrefix="ed" Namespace="OboutInc.Editor" Assembly="obout_Editor" %>
<script runat="server">

OboutInc.Editor.FieldsFiller filler;

void Page_Load(object o, EventArgs e)
{
  filler = new OboutInc.Editor.FieldsFiller(Page,"",Page.Request["localization_path"],Page.Request["language"]);
}
</script>
<html>
<head runat="server">
</head>
<body>
<table id="characters" border="0" cellspacing=2 cellpadding=3 style="padding:0px;margin:4px; background-color:white;">
<tr>
<td>
&#x20AC;
</td>
<td>
&#xA2;
</td>
<td>
&#xA3;
</td>
<td>
&#xA5;
</td>
<td>
&#xA4;
</td>
<td>
&#xA9;
</td>
<td>
&#xAE;
</td>
<td>
&#x2122;
</td>
</tr>
<tr>
<td>
&#xB1;
</td>
<td>
&#x2260;
</td>
<td>
&#x2248;
</td>
<td>
&#x2264;
</td>
<td>
&#x2265;
</td>
<td>
&#xF7;
</td>
<td>
&#xD7;
</td>
<td>
&#x221E;
</td>
</tr>
<tr>
<td>
&#xBD;
</td>
<td>
&#xBC;
</td>
<td>
&#xBE;
</td>
<td>
&#xB2;
</td>
<td>
&#xB3;
</td>
<td>
&#x2030;
</td>
<td>
&#xB6;
</td>
<td>
&#xA7;
</td>
</tr>
<tr>
<td>
&#x3B1;
</td>
<td>
&#x3B2;
</td>
<td>
&#x394;
</td>
<td>
&#x3BC;
</td>
<td>
&#x3A9;
</td>
<td>
&#x2211;
</td>
<td>
&#xD8;
</td>
<td>
&#x2217;
</td>
</tr>
<tr>
<td>
&#xB0;
</td>
<td>
&#xAB;
</td>
<td>
&#xBB;
</td>
<td>
&#x2022;
</td>
<td>
&#x2026;
</td>
<td>
&#x2020;
</td>
<td>
&#x2021;
</td>
<td>
&#x192;
</td>
</tr>
</table>
</body>
</html>
