﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage/Main.Master" AutoEventWireup="true"
    CodeBehind="Course.aspx.cs" Inherits="SydneyAviators.Web.Course" %>

<%@ Register Src="~/Controls/ucBreadcrumb.ascx" TagName="ucBreadcrumb" TagPrefix="uc" %>
<%@ Register Src="~/Controls/ucCMSMenu.ascx" TagName="ucCMSMenu" TagPrefix="uc" %>
<%@ Register Src="~/Controls/ucCMSAttachment.ascx" TagName="ucCMSAttachment" TagPrefix="uc" %>
<%@ Register Src="~/Controls/ucFacebookComments.ascx" TagName="ucFacebookComments" TagPrefix="uc" %>

<asp:Content ID="head" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="banner" runat="server" ContentPlaceHolderID="banner">
    <div class="banner">
        <div class="banner-title">
          <h1>Learn to Fly<span>&nbsp;
                    <asp:Literal ID="litSEOTitle" runat="server" /></span></h1>
        </div>
        <asp:HyperLink ID="lnkEnquiry" runat="server" CssClass="btn-enquiry">Make an enquiry</asp:HyperLink>
    </div>
    <!--/banner-->
</asp:Content>
<asp:Content ID="body" runat="server" ContentPlaceHolderID="body">
    <div class="wrapper cols3">
        <uc:ucBreadcrumb ID="ctlBreadcrumb" runat="server" />
        <div class="main">
            <div class="content">
                <h2>
                    <asp:Literal ID="litTitle" runat="server" /></h2>
                <asp:Image ID="imgThumbnail" runat="server" CssClass="thumb left" />
                <p class="intro">
                    <asp:Literal ID="litSummary" runat="server" /></p>
                <asp:Literal ID="litContent" runat="server" />
                <uc:ucFacebookComments ID="ctlFacebookComments" runat="server" />
            </div>
            <!--/content-->
            <div class="sup-content">
                <div class="item">
                    <h4>
                        Introductory Flight</h4>
                    <p>If you are really keen to see what learning to fly is all about then this flight gives you an excellent introduction.</p>
                        <asp:HyperLink ID="lnkIntroductoryFlight" runat="server" CssClass="btn2"><span>Find out more</span></asp:HyperLink>
                </div>
                <!--/item-->
                <div class="item">
                    <h4>
                        Contact Us</h4>
                    <p>
                        Need more information, click here to make a request.</p>
                        <asp:HyperLink ID="lnkContactUs" runat="server" CssClass="btn2"><span>Enquire Now</span></asp:HyperLink>
                </div>
                <!--/item-->
                <uc:ucCMSAttachment ID="ctlCMSAttachment" runat="server" />
            </div>
            <!--/sup-content-->
            
        </div>
        <!--/main-->
        <uc:ucCMSMenu ID="ctlCMSMenu" runat="server" />
    </div>
    <!--/wrapper-->
</asp:Content>
