﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="ucButton.ascx.cs" Inherits="SydneyAviators.Web.Admin.Controls.ucButton" %>
<asp:LinkButton ID="btn" runat="server" CssClass="btn" OnClick="btn_Click">
    <asp:Label ID="lblText" runat="server" /></asp:label></asp:LinkButton>