﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="ucTitleBar.ascx.cs" Inherits="SydneyAviators.Web.Admin.Controls.ucTitleBar" %>

<div class="profile-msg">
                    <p class="title"><asp:Literal ID="litTitle" runat="server" /></p>
                    <p class="btns"></p>
                </div>
                <!-- /.profile-msg -->