﻿/* ==================================================================== */
/* CALENDAR BOX WITH BORDERS ------------------------------------------- */
/* ==================================================================== */
.calendarBoxContainer {
	display: block;
	width: 824px;
	height: 795px;
	background-repeat:repeat-x repeat-y;
	margin: 20px 0 0 0;
	text-align: center;
}
.calendarBoxContainerTop {
	width: 824px;
	height: 37px;
}
.calendarBoxContainerMid {
	width: 824px;
	height: 795px;
}
.calendarBoxContainerBot {
	width: 824px;
	height: 8px;
}
.calendarBoxTOPLeft {
	width: 8px;
	height: 37px;
	background-image: url(../images/boxBG_topLeft.gif);
	background-repeat: no-repeat;
	float:left;
}
.calendarBoxTOPMid 
{
	width: 808px;
	height: 37px;
	background-image: url(../images/boxBG_topMid.gif);
	background-repeat:repeat-x;
	float:left;
}
.calendarBoxTOPRight {
	width: 8px;
	height: 37px;
	background-image: url(../images/boxBG_topRight.gif);
	background-repeat: no-repeat;
	float:right;
}
.calendarBoxMIDLeft {
	background-image: url(../images/boxBG_MidLeft.gif);
	background-repeat: repeat-y;
	width: 8px;
	height: 795px;
	float: left;
}
.calendarBoxMID {
	width:800px;
	height: 750px;
	float:left;
}
.calendarBoxMIDRight {
	background-image: url(../images/boxBG_MidRight.gif);
	background-repeat: repeat-y;
	width: 8px;
	height: 795px;
	float:right;
}
.calendarBoxBOTLeft {
	width: 8px;
	height: 8px;
	background-image: url(../images/boxBG_BotLeft.gif);
	background-repeat: no-repeat;
	float:left;
}
.calendarBoxBOTMid {
	height: 8px;
	width: 808px;
	background-image: url(../images/boxBG_BotMid.gif);
	background-repeat:repeat-x;
	float:left;
}
.calendarBoxBOTRight {
	width: 8px;
	height: 8px;
	background-image: url(../images/boxBG_BotRight.gif);
	background-repeat: no-repeat;
	float:right;
}
.calendarBoxTOPMid h1 {
	color: #0C4DA2;
	padding-left: 4px;
	line-height: 2.4;
}
.itemCalendar td {
	padding: 5px;
	color: #0C4DA2;
	text-align: left;
	vertical-align: top;
}
.itemCalendar td span {
	font-weight: bold;
}
.itemCalendar td span.itemCalendar-date {
	font-weight: normal;
}
.itemCalendar td span.itemCalendar-dayTitle {
	font-weight: bold;
}
.itemCalendar td span.itemCalendar-event {
	font-weight: normal;
}
.itemCalendar td.day {
	height: 110px;
}
.itemCalendar td.selected-day {
	background-color: #FFDFF2;
}
.itemCalendar td.over {
	background-color: #F8F9FA;
	cursor: pointer;
	height: 110px;
}
.itemCalendar td.off {
	background-color: #fff;
	cursor: default;
	height: 110px;
}
.itemCalendar-title td {
	padding: 5px 20px 0 20px;
	font-weight: bold;
	text-align: center;
	color:#0C4DA2;
}
.itemCalendar-title td a {
	font-weight: normal;
}
.calendarDay {
	width: 870px;
	padding-top: 10px;
}
.calendarDayLeft {
	width: 100px;
	float:left;
}
.calendarDayMid {
	float:left;
	width: 670px;
	text-align: center;
}
.calendarDayMid h1 {
	color: #0C4DA2;
}
.calendarDayRight {
	width: 100px;
	float:right;
}
