/* Editor Quick Style display */
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #3fbbef;
	font-weight: bold;
	line-height: 1em;
	margin: 0; }

.h1 {
	color: #fff;
	font-size: 4.167em;
	letter-spacing: -1px; }

	.h1 span {
		display: block;
		padding-left: 4px;
		font-size: .3em;
		font-weight: normal;
		letter-spacing: normal;
		line-height: 1.2; }

.h2 {
	color: #444;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 1em; }

.h3 {
	font-size: 1.417em;
	border-bottom: 1px solid #eee;
	padding-bottom: .3em;
	margin-bottom: .7em; }

.h4 {
	font-size: 1.417em;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: .6em; }

.h5, .h6 {
	font-size: 1em;
	margin-bottom: .5em; }