html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, dfn, em, img, q, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
     border: 0px none;
     font-size: 100%;
     margin: 0px;
     outline: 0px none;
     padding: 0px;
     vertical-align: baseline;
}

:focus {
     outline: 0px none;
}

fieldset, img {
     border: 0px none;
}

img {
     vertical-align: bottom;
}

html {
     height: 100%;
     overflow-y: scroll;
}

body {
     background: url("../images/bg_body.png") repeat scroll 0px 0px #FFFFFF;
     color: #828282;
     font: 76%/1.48 Arial,Helvetica,sans-serif;
     height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
     color: #a71c20;
     font-weight: bold;
     line-height: 1em;
     margin: 0px;
}

h1, .h1 {
     color: #FFFFFF;
     font-size: 50px;
}

h1 span, .h1 span {
     display: block;
     font-size: 15px;
     font-weight: normal;
     letter-spacing: normal;
     line-height: 19px;
     padding-left: 2px;
}

h2, .h2 {
     color: #a71c20;
     font-size: 2em;
     margin-bottom: 1em;
     text-transform: uppercase;
}

h3, .h3 {
     border-bottom: 1px solid #EEEEEE;
     font-size: 1.417em;
     margin-bottom: 0.7em;
     padding-bottom: 0.3em;
}

h4, .h4 {
     font-size: 1.417em;
     font-weight: normal;
     line-height: 1.2;
     margin-bottom: 0.6em;
}

h5, h6, .h5, .h6 {
     font-size: 1em;
     margin-bottom: 0.5em;
}

p {
     margin-bottom: 18px;
}

sup, sub {
     font-size: 0.833em;
}

em, i {
     font-style: italic;
}

a {
     color: #A71C20;
     text-decoration: none;
}

a:hover {
     color: #440000;
}

ul, ol {
     line-height: inherit;
     margin-bottom: 1.5em;
     padding: 0px;
}

ul ul, ul ol, ol ol, ol ul {
     margin: 0px;
}

li {
     display: list-item;
     list-style-position: outside;
     margin: 0px 0px 0px 2em;
     padding: 0px;
}

table {
     border-collapse: collapse;
     border-spacing: 0px;
     margin-bottom: 18px;
     width: 100%;
}

th, td {
     line-height: 1.167em;
     padding: 8px;
}

table {
     background: url("../images/thead.gif") no-repeat scroll 0px 0px #67D0FC;
}

.cols3 table {
     background: url("../images/thead_cols3.gif") no-repeat scroll 0px 0px #67D0FC;
}

thead th {
     color: #FFFFFF;
     font-weight: bold;
     text-align: left;
	 background:#a71c20;
}

td {
     background: none repeat scroll 0% 0% #f0e1e3;
     border-top: 1px solid #E2ECF1;
     color: #616161;
     padding: 12px 8px;
}

.total td {
     font-weight: bold;
}

td td {
     font-size: 1em;
}

p.intro {
     font-size: 1.167em;
     line-height: 1.429;
}

p.small {
     font-size: 0.917em;
     line-height: 1.273;
}

.txt-col {
     color: #3FBBEF !important;
}

.sml-title {
     color: #a71c20 !important;
     display: block;
     font-size: 10px !important;
     line-height: 1 !important;
     text-transform: uppercase;
}

.left {
     display: inline;
     float: left !important;
}

.right {
     display: inline;
     float: right !important;
}

img.left {
     margin-bottom: 18px;
     margin-right: 18px;
}

img.right {
     margin-bottom: 18px;
     margin-left: 18px;
}

.alignleft {
     text-align: left;
}

.alignright {
     text-align: right;
}

.center {
     text-align: center;
}

img.thumb {
     border: 3px solid #f0e1e3 !important;
}

a.more {
     font-weight: bold;
}

a.more:hover {
     color: #440000;
}

a.btn, a.btn2, a.btn3 {
     background: url("../images/btnR.png") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     line-height: 16px;
     text-transform: uppercase;
}

a.btn span, a.btn2 span, a.btn3 span {
     background: url("../images/btnL.png") no-repeat scroll left top transparent;
     color: #FFFFFF;
     float: left;
     margin: 0px 10px 0px 0px;
     padding: 6px 0px 6px 10px;
     position: relative;
}

a.btn2 {
     background: url("../images/btn2R.png") no-repeat scroll right top transparent;
}

a.btn2 span {
     background: url("../images/btn2L.png") no-repeat scroll left top transparent;
}

a.btn3 {
     background: url("../images/button2R.png") no-repeat scroll right top transparent;
}

a.btn3 span {
     background: url("../images/button2L.png") no-repeat scroll left top transparent;
     color: #000000;
}

a.btn:hover, a.btn2:hover, a.btn3:hover {
     background-position: right bottom;
}

a.btn3:hover span {
     color: #FFFFFF;
}

a.btn:hover span, a.btn2:hover span, a.btn3:hover span {
     background-position: left bottom;
}

a.right {
     margin-left: 8px;
}

a.btn-text {
     background: url("../images/btn_textR.png") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     height: 24px;
     line-height: 16px;
}

a.btn-text span {
     background: url("../images/btn_textL.png") no-repeat scroll left top transparent;
     color: #000000;
     float: left;
     margin: 0px 32px 0px 0px;
     padding: 4px 0px 4px 10px;
     position: relative;
}

a.btn-text:hover {
     background-position: right bottom;
}

a.btn-text:hover span {
     background-position: left bottom;
	 color:#fff;
}

.first {
     margin-left: 0px !important;
}

.last {
     margin-right: 0px !important;
}

.top {
     margin-top: 0px !important;
}

.bottom {
     margin-bottom: 0px !important;
}

.hidden {
     display: none;
}

.clear {
     clear: both;
}

.group:after, .form:after {
     clear: both;
     content: " ";
     display: block;
     font-size: 0px;
     height: 0px;
     visibility: hidden;
}

* html .group, * html .form {
    
}

:first-child + html .group, :first-child + html .form {
    
}

.page {
     background: url("../images/bg_page.jpg") no-repeat scroll center top transparent;
}

.home {
     background: url("../images/bg_page_home.jpg") no-repeat scroll center top transparent;
     overflow: hidden;
}

.face {
     background: url("../images/facebook-bg_02.png") no-repeat scroll center 13% transparent;
}

#container {
     background: none repeat scroll 0% 0% #FFFFFF;
     margin: 0px auto;
     width: 960px;
}

.wrapper, .main, .sidebar, .cols3 .content, .cols3 .sup-content, .col1, .col2, .col3 {
     display: inline;
     float: left;
}

.wrapper {
     background: url("../images/bg_sidebar.gif") repeat-y scroll 0px 0px transparent;
     margin: 0px 18px;
     padding-bottom: 60px;
     width: 924px;
}

.main {
     float: right;
     margin-right: 18px;
     width: 670px;
}

.sidebar {
     padding: 12px;
     width: 176px;
}

.cols3 .main {
     margin-right: 0px;
     width: 688px;
}

.cols3 .content {
     width: 472px;
}

.cols3 .sup-content {
     margin-left: 36px;
     margin-top: 20px;
     width: 180px;
}

.cols3-home {
     background: none repeat scroll 0% 0% transparent;
}

.cols3-home .main {
     margin-right: 0px;
     width: 924px;
}

.cols3-home .col1 {
     margin-right: 36px;
     width: 284px;
}

.cols3-home .col2 {
     margin-right: 36px;
     width: 284px;
}

.cols3-home .col3 {
     width: 284px;
}

.fullwidth {
     background: none repeat scroll 0% 0% transparent;
}

.fullwidth .main {
     float: none;
     width: 870px;
}

.fullwidth .breadcrumbs {
     padding-left: 0px;
}

#header {
     background: url("../images/bg_header.png") repeat-x scroll 0px 0px transparent;
     padding-bottom: 44px;
     position: relative;
}

.home #header {
     padding-bottom: 8px;
}

a.logo {
     background: url("../images/logo.png") no-repeat scroll 0px 0px transparent;
     display: block;
     height: 206px;
     left: 390px;
     overflow: hidden;
     position: absolute;
     text-indent: -9999px;
     top: 20px;
     width: 175px;
     z-index: 100;
}

.nav-wrap {
     height: auto !important;
     min-height: 100px;
     overflow: hidden;
     position: relative;
     width: 960px;
}

.nav-wrapL, .nav-wrapR {
     display: inline;
     float: left;
     margin-top: 37px;
     position: relative;
     width: 480px;
}

ul.nav {
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 0px;
}

ul.navL {
     right: 89px;
}

ul.navR {
     left: 89px;
}

ul.nav li {
     display: inline;
     float: left;
     line-height: 1;
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

ul.navL li {
     margin-left: 16px;
}

ul.navR li {
     margin-right: 24px;
}

ul.nav a {
     color: #2D2D2D;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 1.167em;
     font-weight: bold;
     text-transform: uppercase;
}

ul.nav a span {
     float: left;
     margin: 0px 12px 0px 0px;
     padding: 6px 0px 6px 12px;
     position: relative;
}

ul.nav a:hover {
     color: #a71c20;
}

ul.nav a.current {
     background: url("../images/nav_current.png") no-repeat scroll right top transparent;
}

ul.nav a.current span {
     background: url("../images/nav_current.png") no-repeat scroll left top transparent;
	 color: #A71C20;
}

.banner {
     background: url("../images/banner_01.jpg") no-repeat scroll 0px 0px transparent;
     clear: both;
     height: 230px;
     position: relative;
     width: 960px;
}

.banner-title {
     background: url("../images/banner_title.png") no-repeat scroll 0px 0px transparent;
     float: left;
     height: 172px;
     margin: 26px 0px 0px 6px;
     width: 331px;
}

.banner-title h1 {
     padding: 28px 18px 0px 22px;
}

.btn-enquiry {
     background: url("../images/btn_make-an-enquiry.png") no-repeat scroll 0px 0px transparent;
     display: block;
     height: 35px;
     overflow: hidden;
     position: absolute;
     right: 18px;
     text-indent: -9999px;
     top: 10px;
     width: 164px;
}

.home-banner {
     clear: both;
     height: 460px;
     position: relative;
     width: 960px;
}

.home-banner .banner-title {
     background: url("../images/banner_title_home.png") no-repeat scroll 0px 0px transparent;
     float: left;
     height: 226px;
     margin: 120px 0px 0px 370px;
     width: 392px;
}

.home-banner .banner-title h1 {
     padding: 24px 18px 0px 32px;
}

.home-banner .banner-title h1 span {
    
}

.home-banner .banner-title p {
     color: #FFFFFF;
     margin: 0px;
     padding: 0px 26px 0px 36px;
}

.scrollable {
     height: 460px;
     overflow: hidden;
     position: relative;
     width: 960px;
}

.scrollable .items {
     position: absolute;
     width: 2880px;
}

.scrollable .item {
     background-position: left top;
     background-repeat: no-repeat;
     float: left;
     height: 460px;
     width: 960px;
}

.navi {
     position: absolute;
     right: 30px;
     top: 30px;
}

.navi a {
     background: url("../images/controls.png") no-repeat scroll left top transparent;
     cursor: pointer;
     display: block;
     float: left;
     height: 12px;
     margin-left: 8px;
     text-indent: -9999px;
     width: 12px;
}

.navi a.active {
     background-position: left bottom;
}

.promo-wrap {
     height: 360px;
     left: 0px;
     position: absolute;
     top: 0px;
     width: 320px;
}

.promo-item {
     height: 180px;
     overflow: hidden;
     width: 320px;
}

.promo-1 {
     background: url("../images/promo_01.jpg") no-repeat scroll 0px 0px transparent;
}

.promo-2 {
     background: url("../images/promo_02.jpg") no-repeat scroll 0px 0px transparent;
}

.promo-item .inner {
     padding: 18px 18px 0px;
}

.promo-item h4 {
     color: #fff;
     font-size: 2.667em;
     font-weight: bold;
}

.promo-item p {
     color: #FFFFFF;
     width: 60%;
}

.sidebar {
     background: url("../images/bg_sidebar_top.gif") no-repeat scroll 0px 0px transparent;
}

ul.menu {
     float: left;
}

ul.menu li {
     border-bottom: 1px solid #E2E2E2;
     clear: both;
     display: block;
     float: left;
     margin: 0px 0px 2px;
     padding: 0px 0px 2px;
     width: 176px;
}

ul.menu li a {
     color: #828282;
     cursor: pointer;
     display: block;
     float: left;
     line-height: 1.273;
     padding-bottom: 6px;
     width: 176px;
}

ul.menu li a span {
     display: block;
     padding: 6px 6px 0px;
}

ul.menu li a:hover {
     color: #FFF;
	 background:#a71c20;
	 border-radius:3px;
}

ul.menu li a.current {
     background: url("../images/menu_current.png") no-repeat scroll left bottom transparent;
     color: #FFFFFF;
}

ul.menu li a.current span {
     background: url("../images/menu_current.png") no-repeat scroll left top transparent;
}

ul.menu li a.current:hover {
     color: #FFFFFF;
}

.breadcrumbs {
     background: none repeat scroll 0% 0% #FFFFFF;
     font-size: 0.917em;
     line-height: 14px;
     margin: -44px 0px 0px;
     padding: 18px;
     position: relative;
     text-transform: uppercase;
     width: 888px;
	 color: #A71C20;
}

.breadcrumbs a {
     color: #3F3F3F;
     float: left;
     line-height: 14px;
}

.breadcrumbs a:hover {
     color: #440000;
}

.breadcrumbs .sep {
     background: url("../images/breadcrumb-sep.gif") no-repeat scroll left center transparent;
     display: block;
     float: left;
     height: 14px;
     margin: 0px 6px;
     overflow: hidden;
     text-indent: -9999px;
     width: 3px;
}

.content h3 {
     clear: both;
}

.content ul li {
     background: url("../images/bullet.gif") no-repeat scroll 4px 7px transparent;
     list-style: none outside none;
     margin: 0px 0px 0.25em;
     padding: 0px 0px 0px 1.25em;
}

.listing {
     overflow: hidden;
}

.listing .item {
     border-bottom: 1px solid #EEEEEE;
     margin-bottom: 18px;
     overflow: hidden;
     padding-bottom: 18px;
     width: 100%;
}

.listing .img {
     display: inline;
     float: left;
     margin-right: 18px;
     padding-top: 1px;
     width: 146px;
}

.listing .copy {
     display: inline;
     float: left;
     width: 506px;
}

.listing-sup .copy {
     margin-right: 36px;
     width: 358px;
}

.listing-sup .sub-copy {
     display: inline;
     float: left;
     width: 112px;
}

.listing-sup .txt {
     height: auto !important;
     min-height: 117px;
}

p.rate {
     color: #A5A5A5;
     line-height: 1.167;
}

p.rate strong, p.rate a {
     color: #3FBBEF;
     font-size: 2em;
     font-weight: bold;
}

p.rate a:hover {
     color: #A71C20;
}

.listing-grid {
     overflow: hidden;
     width: 688px;
}

.listing-grid .row {
     border-bottom: 1px solid #EEEEEE;
     margin-bottom: 10px;
     overflow: hidden;
     padding-bottom: 10px;
     width: 100%;
}

.listing-grid .item {
     display: inline;
     float: left;
     overflow: hidden;
     padding: 8px;
     width: 328px;
}

.listing-grid.hover .item {
     padding: 8px 8px 12px;
}

.listing-grid.hover .item:hover {
     background: none repeat scroll 0% 0% #fdf2f4;
}

.listing-grid .img {
     display: inline;
     float: left;
     margin-right: 12px;
     padding-top: 1px;
     width: 76px;
}

.listing-grid .copy {
     display: inline;
     float: left;
     width: 230px;
}

.listing-grid .copy p {
     margin-bottom: 0px;
}

.listing-grid .btn-wrap {
     clear: both;
     display: inline;
     float: left;
     margin-left: 88px;
     margin-top: 18px;
}

.detail {
     overflow: hidden;
}

.detail .item {
     margin-bottom: 18px;
     overflow: hidden;
     width: 100%;
}

.detail .img {
     display: inline;
     float: left;
     margin-right: 18px;
     padding-top: 1px;
     width: 146px;
}

.detail .copy {
     display: inline;
     float: left;
     width: 506px;
}

.detail-sup .copy {
     margin-right: 36px;
     width: 358px;
}

.detail-sup .sub-copy {
     display: inline;
     float: left;
     width: 112px;
}

.sub-copy p {
     font-size: 0.917em;
     line-height: 1.273;
     margin-bottom: 1em;
}

.sup-content .item {
     border-bottom: 1px solid #EEEEEE;
     float: left;
     margin-bottom: 2em;
     padding-bottom: 1em;
     width: 180px;
}

.contact h4 {
     margin-bottom: 0px;
}

.contact p {
     line-height: 1.333;
}

.contact p strong {
     color: #737373;
     display: block;
     margin-top: 18px;
}

.sub-copy .item {
     margin-bottom: 36px;
}

.sub-copy .item .rate {
     border-bottom: 1px solid #EEEEEE;
     margin-bottom: 18px;
     padding-bottom: 18px;
}

ul.tabs {
     height: 32px;
     margin: 0px;
     padding: 0px 12px;
}

ul.tabs li {
     display: inline;
     float: left;
     list-style-type: none;
     padding: 0px;
}

ul.tabs a {
     background: none repeat scroll 0% 0% #67D0FC;
     color: #FFFFFF;
     display: block;
     float: left;
     font-size: 1.167em;
     font-weight: bold;
     height: 32px;
     line-height: 32px;
     margin: 0px 4px 0px 0px;
     padding: 0px 18px;
     position: relative;
     text-decoration: none;
}

ul.tabs a:hover {
     background: none repeat scroll 0% 0% #BDCF23;
     color: #FFFFFF;
}

ul.tabs a.current {
     background: none repeat scroll 0% 0% #F5F9FB !important;
     color: #444444 !important;
     cursor: default;
}

.home h2 {
     font-size: 1.5em;
     margin-bottom: 24px;
}

.home p {
     font-size: 1.167em;
     line-height: 1.286;
}

.home p.intro .home .intro p {
     color: #3FBBEF;
     font-size: 1.333em;
     line-height: 1.25;
}

ul.links li {
     background: url("../images/bullet.gif") no-repeat scroll 4px 6px transparent;
     font-size: 1.167em;
     line-height: 1.143;
     list-style: none outside none;
     margin: 0px 0px 0.25em;
     padding: 0px 0px 0px 1em;
}

ul.links a {
     color: #828282;
}

ul.links a:hover {
     color: #3FBBEF;
}

.home .listing .img {
     width: 76px;
}

.home .listing .copy {
     width: 190px;
}

.home .listing p {
     margin-bottom: 0px;
}

#footer {
     background: url("../images/bg_footer.png") repeat-x scroll 0px 0px transparent;
     border-top: 1px solid #E3E3E3;
     clear: both;
     height: 102px;
     padding: 18px 18px 0px;
}

#footer p {
     font-size: 12px;
     line-height: 16px;
}

.form {
     background: none repeat scroll 0% 0% #fdf2f4;
     margin-bottom: 18px;
     padding: 12px 18px;
}

.form table, .form table td {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
}

.form table td {
     padding: 0px 18px 4px 0px;
     vertical-align: top;
}

.form-table td label {
     display: block;
     padding-top: 4px;
}

input.text, textarea, select {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #f0e1e3;
     color: #828282;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 12px;
     padding: 5px;
}

input.text.error, textarea.error, select.error {
     background: none repeat scroll 0% 0% #FEF5F3;
     border: 1px solid #EF4323;
}

option {
     font-family: Arial,Helvetica,sans-serif;
     font-size: 12px;
}

input.text:focus, textarea:focus, select:focus {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #A71C20;
     color: #444444;
}

.form-table input.text {
     width: 360px;
}

.form-table textarea {
     height: 100px;
     width: 360px;
}

.form-table select {
     width: 370px;
}

.cols3 .form-table input.text {
     width: 230px;
}

.cols3 .form-table textarea {
     height: 100px;
     width: 230px;
}

.cols3 .form-table select {
     width: 240px;
}

.form-table-2cols input.text {
     width: 230px;
}

.form-table-2cols textarea {
     height: 100px;
     width: 230px;

}

.form-table-2cols select {
     width: 240px;
}

.form-table-2cols input.med {
     width: 130px;
}

.form-table-2cols select.med {
     width: 140px;
}

div.inline {
     margin: 4px 0px 4px -4px;
     position: relative;
}

div.inline label {
     display: inline;
     margin-right: 14px;
}

div.stacked {
     margin-left: 2px;
}

div.stacked label {
     display: block;
     line-height: 1.333;
     margin-bottom: 4px;
     padding-left: 19px;
     text-indent: -19px;
}

div.stacked input {
     height: 13px;
     margin: 0px 4px 0px 0px;
     padding: 0px;
     position: relative;
     top: -3px;
     vertical-align: bottom;
     width: 13px;
}

.form, input.text, textarea, select, .key {
     border-radius: 4px 4px 4px 4px;
}

ul.tabs a {
     border-radius: 4px 4px 0px 0px;
}

table.ajax__validatorcallout {
     background: none repeat scroll 0% 0% transparent;
     width: 200px;
}

table.ajax__validatorcallout td {
     vertical-align: top;
}

table.ajax__validatorcallout table {
     background: none repeat scroll 0% 0% transparent;
}

.form-table td.rate {
     color: #3FBBEF;
     font-size: 2em;
     font-weight: bold;
}

.form-table .align {
     margin-top: 4px;
}

p.c9 {
     font-weight: bold;
}

div.c8 {
     display: inline-block;
     width: 100px;
}

div.c7 {
     display: none;
     height: 300px;
     width: 100%;
     z-index: 6000;
}

ul.c6 {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

table.c5 {
     border-width: 0px;
     margin: 0px;
     width: 100%;
}

table.c5 td {
     padding: 0px 4px 0px 0px;
}

a.c4 {
     display: block;
     margin-top: 6px;
     outline: medium none;
     overflow: hidden;
     position: relative;
}

td.c3 {
     width: 100%;
}

input.c2 {
    
}

img.c1 {
     border-style: none;
     border-width: 0px;
     cursor: pointer;
}

.timeChart-table {
     background-color: #FFFFFF;
     margin: 0px;
}

.timeChart-table td {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: none repeat scroll 0% 0% #FFFFFF;
     border-color: #DFDFDF #F5F9FB;
     border-style: solid;
     border-width: 1px;
     padding: 0px;
     vertical-align: top;
}

.timeChart-table td.name {
     background: none repeat scroll 0% 0% #FFFFFF;
     padding: 8px 0px 0px 8px;
     width: 304px;
}

.timeChart-table td.name h2 {
     font-size: 1.333em;
     margin-bottom: 12px;
}

.timeChart-table td.name p {
     font-size: 0.917em;
     margin-bottom: 12px;
     text-transform: uppercase;
}

.timeChart-table td.name p.hostType {
     margin-bottom: 0px;
     text-transform: none;
}

.timeChart-table .timeHolder {
     background: none repeat scroll 0% 0% #EEF5AD;
     height: 100px;
     position: relative;
     width: 60px;
}

.timeChart-table .timeHolder .timeHalf {
     display: inline;
     float: left;
     height: 100px;
     position: absolute;
     width: 30px;
}

.timeChart-table .timeHolder .b {
     left: 30px;
}

.timeChart-table .timeHolder .selected {
     background: none repeat scroll 0% 0% #BED021;
}

.timeChart-table .timeHolder .selected p.time, .timeChart-table .timeHolder .selected p.time span {
     color: #000000;
}

.timeChart-table .timeHolder .timeHalf:hover, .timeChart-table .timeHolder .hover {
     background: none repeat scroll 0% 0% #BED021;
     cursor: pointer;
}

.timeChart-table .timeHolder .unavailable, .timeChart-table .timeHolder .unavailable:hover {
     background: none repeat scroll 0% 0% #E1F8FE;
     cursor: default;
}

.timeChart-table .timeHolder .unavailable p.time {
    
}

.timeChart-table .timeHolder .unavailable p.time span {
    
}

.timeChart-table td p.time {
     color: #6A6B65;
     font-size: 14px;
     line-height: 1.2;
     padding-left: 10px;
     padding-top: 8px;
     position: absolute;
}

.timeChart-table td p.time span {
     color: #7F8078;
     display: block;
     font-size: 10px;
     margin-top: 6px;
}

.timeChart-nav {
     margin: 12px 0px 12px 191px;
}

.timeChart-nav .prev {
     float: left;
}

.timeChart-nav .next {
     float: right;
}

.time-btns a {
     background-position: left top;
     background-repeat: no-repeat;
     display: block;
     float: left;
     height: 28px;
     margin-right: 2px;
     overflow: hidden;
     text-indent: -999px;
     width: 47px;
}

.time-btns a.timeBTN-L {
     background-image: url("../images/btn_12hr.png");
}

.time-btns a.timeBTN-R {
     background-image: url("../images/btn_24hr.png");
}

.time-btns a.active, .time-btns a:hover {
     background-position: left bottom;
}

.total-rate {
     color: #3FBBEF;
     line-height: 1.167;
     margin-bottom: 0px;
     text-align: right;
     text-transform: uppercase;
}

.total-rate strong, p.rate a {
     color: #3FBBEF;
     font-size: 2em;
     font-weight: bold;
}

.key-wrap {
     display: inline;
     float: left;
     margin-left: 80px;
     margin-top: -4px;
     overflow: hidden;
     position: relative;
     width: 345px;
}

.key-wrap .label {
     color: #3FBBEF;
     float: left;
     font-size: 14px;
     font-weight: bold;
     line-height: 30px;
     padding-right: 12px;
}

.key {
     background: none repeat scroll 0% 0% #F5F9FB;
     border: 1px solid #DFEDF4;
     float: left;
     padding: 4px 16px 4px 0px;
}

.key ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

.key ul li {
     background: none repeat scroll 0% 0% transparent;
     color: #686868;
     display: inline;
     float: left;
     font-size: 11px;
     margin: 0px 0px 0px 16px;
     padding: 0px;
}

.key ul li img {
     vertical-align: middle;
}

button {
     border: 0px none;
     cursor: pointer;
     overflow: visible;
     padding: 0px;
     position: relative;
}

button::-moz-focus-inner {
     border: medium none;
}

button span {
     display: block;
     position: relative;
     white-space: nowrap;
}

@media not all {
  button span { margin-top: -1px; }
}

.button, .button2 {
     background: url("../images/buttonR.png") no-repeat scroll right top transparent;
     float: left;
     font-size: 12px;
     margin-right: 8px;
     text-align: center;
     text-transform: uppercase;
}

.button2 {
     background: url("../images/button2R.png") no-repeat scroll right top transparent;
}

.button span, .button2 span {
     background: url("../images/buttonL.png") no-repeat scroll left top transparent;
     color: #FFFFFF;
     height: 16px;
     line-height: 1.2;
     margin: 0px 8px 0px 0px;
     padding: 6px 0px 6px 10px;
}

.button2 span {
     background: url("../images/button2L.png") no-repeat scroll left top transparent;
     color: #000000;
}

.button:hover, .button-hover, .button2:hover, .button2-hover {
     background-position: right bottom;
}

.button:hover span, .button-hover span, .button2:hover span, .button2-hover span {
     background-position: left bottom;
}

a.next {
     background: url("../images/btn_nextR.png") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     height: 24px;
     line-height: 16px;
}

a.next span {
     background: url("../images/btn_nextL.png") no-repeat scroll left top transparent;
     color: #000000;
     float: left;
     margin: 0px 32px 0px 0px;
     padding: 4px 0px 4px 10px;
     position: relative;
}

a.next:hover {
     background-position: right bottom;
}

a.next:hover span {
     background-position: left bottom;
}

a.prev {
     background: url("../images/btn_prevL.png") no-repeat scroll left top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     height: 24px;
     line-height: 16px;
}

a.prev span {
     background: url("../images/btn_prevR.png") no-repeat scroll right top transparent;
     color: #000000;
     float: left;
     margin: 0px 0px 0px 32px;
     padding: 4px 10px 4px 0px;
     position: relative;
}

a.prev:hover {
     background-position: left bottom;
}

a.prev:hover span {
     background-position: right bottom;
}

label {
    
}

a.btn-login {
     background: url("../images/btn_loginR.png") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     height: 24px;
     line-height: 16px;
}

a.btn-login span {
     background: url("../images/btn_loginL.png") no-repeat scroll left top transparent;
     color: #000000;
     float: left;
     margin: 0px 32px 0px 0px;
     padding: 4px 0px 4px 10px;
     position: relative;
}

a.btn-login:hover, a.login-menu-open {
     background-position: right bottom;
}

a.btn-login:hover span, a.login-menu-open span {
     background-position: left bottom;
}

.login-nav {
     position: absolute;
     right: 8px;
     top: 0px;
     z-index: 400;
}

.login-text {
     float: left;
     font-size: 11px;
     margin: 4px 12px 0px 0px;
}

.login-menu {
     background: none repeat scroll 0% 0% #F5F9FB;
     border-radius: 4px 0px 4px 4px;
     border: 4px solid #E2ECF1;
     box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
     display: none;
     position: absolute;
     right: 8px;
     top: 24px;
     width: 200px;
     z-index: 500;
}

.login-menu-inner {
     padding: 12px;
}

.login-menu p {
     clear: both;
     font-size: 12px;
     line-height: 17px;
     margin-bottom: 8px;
     overflow: hidden;
}

.login-menu p.forgot {
     font-size: 11px;
     line-height: 16px;
}

.login-menu label {
     display: block;
     margin-bottom: 3px;
}

.login-menu input.text {
     width: 164px;
}

a.btn-logout {
     background: url("../images/btn_loginR.png") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 12px;
     height: 24px;
     line-height: 16px;
}

a.btn-logout span {
     background: url("../images/btn_loginL.png") no-repeat scroll left top transparent;
     color: #000000;
     float: left;
     margin: 0px 32px 0px 0px;
     padding: 4px 0px 4px 10px;
     position: relative;
}

a.btn-logout:hover, a.login-menu-open {
     background-position: right bottom;
}

a.btn-logout:hover span, a.login-menu-open span {
     background-position: left bottom;
}

.facebook-wrapper {
     background: url("../images/facebook-bottom_03.png") repeat scroll 0% 0% transparent;
     clear: both;
     height: 546px;
     position: relative;
}

#facebook {
     left: 40px;
     position: absolute;
     top: 125px;
     width: 887px;
}

#likebox-frame {
     border-radius: 5px 5px 5px 5px;
     bottom: -10px;
     height: 392px;
     left: -1px;
     overflow: hidden;
     position: relative;
     top: -1px;
     width: 880px;
     z-index: 10;
}

#likebox-frame iframe {
     left: -5px;
     overflow: hidden;
     position: relative;
     top: -1px;
}

.facebook-tile {
     left: 30px;
     position: absolute;
     top: 80px;
     width: 350px;
}

.facebook-tile h2 {
     color: #FFFFFF !important;
     font-size: 18px !important;
}

.facebook-comments-wrapper {
     background: none repeat scroll 0% 0% #F2F2F2;
     border-radius: 5px 5px 5px 5px;
     clear: both;
     width: 472px;
}

#inside_comments {
     margin: auto;
     padding-top: 15px;
     width: 450px;
}

.fb_ltr {
     background: none repeat scroll 0% 0% #F2F2F2;
}

#inside_comments h2 {
     font-size: 16px !important;
     margin-bottom: 10px !important;
}

#facebook-container {
     background: none repeat scroll 0% 0% #FFFFFF;
     margin: 0px auto;
     width: 960px;
}

iframe.externalForm {
     overflow: hidden;
     width: 100%;
}
