/* 
Colour
 
BACKGROUND
Grey			#ededed
Grey dark		#2d2d2d
Green			#bdcf23
Blue			#67d0fc
Blue dark		#076fb2
Blue table		#f5f9fb
Blue alt-row	#fafcfd

BORDER
Grey			#ededed
Grey			#dddddd
Blue			#e2ecf1
Blue light		#eaf1f5
White			#fefefe

TEXT
Blue			#3FBBEF
Blue dark		#076fb2
 
 
   Reset
================================================================================= */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,cite,em,img,strong,b,u,i,address,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent; }
 
ol,ul { list-style: none; }
 
blockquote,q { quotes: none; }
 
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none; }
 
a img { border: 0; }
 
/* General
================================================================================= */
html {}
 
body {
	background: #ffffff;
	color: #828282;
	font: normal .75em/1.5em Arial,Helvetica,sans-serif; }
 
/* Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #076fb2;
	font-family: Helvetica, Arial, sans-serif; }
 
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: .5em; }
 
h2 {
	font-size: 2em;
	margin-bottom: .75em; }
 
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em; }
	 
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em; }
 
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em; }
 
h6 {
	font-size: 1em;
	font-weight: bold; }
 
/* Text elements
-------------------------------------------------------------- */
p { margin: 0 0 1.5em; }
 
	p.intro {
		font-size: 1.167em;
		margin-bottom: 1.5em;
		line-height: 1.5em; }
 
	p.small {
		font-size: .917em;
		line-height: 1.273em; }
 
small {
	font-size: .917em;
	line-height: 1.273em; }
 
strong { font-weight: bold; }
 
em { font-style: italic; }
 
a {
	color: #2E71C9;
	text-decoration: underline; }
 
	a:visited { color: #2E71C9; }
 
	a:hover {
		color: #3FBBEF;
		text-decoration: none; }
 
/* Lists
-------------------------------------------------------------- */
li ul,li ol { margin: 0 1.5em; }
 
ul,ol { margin: 0 1.5em 1.5em; }
 
* html ol,*+html ol { margin-left: 2em; }
 
/* Fixes incorrect placement of ol numbers in IE6/7. */
ul { list-style-type: disc; }
 
ol { list-style-type: decimal; }
 
	ol ol { list-style-type: lower-alpha; }
 
dl { margin: 0 0 1.5em; }
 
	dl dt { font-weight: bold; }
 
dd { margin-left: 1.5em; }
 
/* Tables
-------------------------------------------------------------- */
.wrap {
	width: 100%;
	overflow: hidden; }
 
/* General */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 1.5em; }
 
	table th {
		padding: 5px 8px 5px 12px;
		border-left: 1px solid #e2ecf1;
		color: #fff;
		font-weight: bold;
		font-size: 1em;
		background: #67d0fc;
		text-align: left;
		white-space: nowrap; }
 
.pane table th a {
	color: #fff;
	text-decoration: none;
	background: none; }
 
	.pane table th a:visited { color: #fff; }
 
	.pane table th a:hover {
		color: #fff;
		background: url(../images/underline-btn.gif) 0 100% repeat-x; }
 
table td {
	padding: 8px 8px 8px 12px;
	vertical-align: top;
	background: #fafcfd; }
 
/* Content Table */
.content-table td { border: 1px solid #e2ecf1; }
 
.content-table .alt-row td { background-color: #f5f9fb; }
 
/* Listing Table */
.listing-table td { border: 1px solid #e2ecf1; }
 
.listing-table .alt-row td { background-color: #f5f9fb; }
 
.listing-table tr:hover td { background-color: #fefefe; }

.listing-table .btn { background-color: #076fb2; }
 
/* Task Table */
.block-table td {
	background-color: #f5f9fb;
	border-bottom: 1px solid #e2ecf1; }
 
.block-table .alt-row td {  }
 
/* Detail Table */
.detail-table td { padding: 4px 8px 4px 12px; }
 
/*.detail-table td label		{ font-weight: bold; }*/
/* Form Table */
.form-table td { background-color: #f5f9fb; }
 
/* Table sort arrows */
th.sort,
th.sort-asc,
th.sort-desc {
	padding-left: 22px;
	background-repeat: no-repeat;
	cursor: pointer; }
 
th.sort {
	background-image: url(../images/sort.gif);
	background-position: 11px 10px; }
 
th.sort-asc {
	background-image: url(../images/sort-asc.gif);
	background-position: 11px 12px; }
 
th.sort-desc {
	background-image: url(../images/sort-desc.gif);
	background-position: 11px 12px; }
 
/* Links & Buttons
-------------------------------------------------------------- */
/* Content Links */
.pane a {
	text-decoration: none;
	background: url(../images/underline-link.gif) 0 100% repeat-x; }
 
	.pane a:hover {
		text-decoration: none;
		background: none; }
 
.pane a.info{
	text-decoration: none;
	background: none; }
	
/*to be kept    */
a.btn {
	display: inline-block;
	padding: 0 7px;
	line-height: 19px;
	height: 20px;
	background: #67d0fc;
	text-decoration: none;
	color: #fff;
	text-align: center;
	white-space: nowrap; }
 
	a.btn:visited { color: #fff; }
 
	a.btn:hover { background: #c2d337; }
 
		a.btn:hover span { 
			/*background: url(../images/underline-btn.gif) 0 100% repeat-x;*/
			cursor: pointer;  }
 
a.btn2 {
	display: inline-block;
	padding: 0 7px;
	line-height: 19px;
	height: 20px;
	background: #ddd;
	text-decoration: none;
	color: #2d2d2d;
	text-align: center;
	white-space: nowrap; }
 
	a.btn2:visited { color: #2d2d2d; }

 
	a.btn2:hover { color: #fff; background: #c2d337; }
 
		a.btn2:hover span {
			/*background: url(../images/underline-btn.gif) 0 100% repeat-x;*/
			cursor: pointer; }

/* 
.actions a.btn:hover span,
.actions a.btn2:hover span { background: url(../images/underline-btn-lrg.gif) 0 100% repeat-x; }
*/
 
/* Notifications
-------------------------------------------------------------- */
.notice,
.information,
.success,
.error {
	margin: 0 auto 1.5em;
	padding: 10px 16px;
	position: relative;
	font-size: 1em;
	line-height: 1.5em; }
 
.notice {
	background: #ffffcc;
	color: #b47912; }
 
.information {
	background: #dffaff;
	color: #0055b5; }
 
.success {
	background: #d5ffce;
	color: #1c8400; }
 
.error {
	background: #fdd;
	color: #b50007; }
 
/* Layout
================================================================================= */
.container {
	width: 1102px;
	margin: 0 auto;
	position: relative; }

/* Fix Background cropping in small browser window */
#header, #wrapper, #footer { min-width: 1102px; }
 
/* Clear Floated Elements
-------------------------------------------------------------- */
.clearfix:after,.container:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0; }
 
.clearfix,.container { display: inline-block; }
 
* html .clearfix,* html .container { height: 1%; }
 
.clearfix,.container { display: block; }
 
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; }
 
/* Header
================================================================================= */
#header {
	border-bottom: 1px solid #ededed;
	/*background:#072b6c;*/ }
 
	#header .container {  }
 
#logo {
	height: 144px;
	position: absolute;
	top: 0;
	left: 0; }
 
	#logo a {  }
 
#header-content {
	width: 844px;
	height: 144px;
	margin: 0 0 0 10px;
	float: right;
	display: inline;
	position: relative; }
 
/* Global Nav
-------------------------------------------------------------- */
#global-nav {
	width: 842px;
	margin: 20px 0 0; }
 
	#global-nav ul {
		float: right;
		margin: 0; }
 
	#global-nav li {
		display: inline;
		float: left;
		margin: 0 0 0 6px;
		text-align: center;
		list-style: none; }
 
		#global-nav li a {
			float: left;
			text-decoration: none; /*background:#0d4da2;*/
			color: #444;
			font-size: 14px;
			font-weight: bold; }
 
			#global-nav li a:visited { color: #444; }
 
			#global-nav li a span {
				display: block;
				float: left;
				height: 33px;
				line-height: 33px;
				padding: 0 14px;
				cursor: pointer; }
 
			#global-nav li a:hover {
				color: #fff;
				background-color: #bdcf23; }
 
			#global-nav li a.active {
				color: #444;
				background: #ededed; }
 
/* Breadcrumbs
-------------------------------------------------------------- */
#breadcrumbs {
	position: absolute;
	left: 0;
	bottom: 20px;
	margin: 0;
	font-size: 11px;
	color: #076fb2; }
 
	#breadcrumbs span img { margin: 0 3px; }
 
	#breadcrumbs a {
		color: #828282;
		text-decoration: none;
		background: url(../images/underline-breadcrumbs.gif) 0 100% repeat-x; }
 
		#breadcrumbs a:visited { color: #828282; }
 
		#breadcrumbs a:hover {
			color: #3fbbef;
			text-decoration: none; }
 
/* User Info
------------------------------------ */
#user-info {
	position: absolute;
	right: 0;
	bottom: 20px;
	margin: 0;
	font-size: 11px;
	line-height: 22px;
	padding: 2px; /*background: #fff;*/ }
 
	#user-info p {
		float: left;
		margin: 0;
		color: #828282; }
 
	#user-info strong {
		padding: 0 0 0 16px;
		color: #444;
		background: url(../images/arrow.gif) 8px 50% no-repeat; }
 
	#user-info .name {  }
 
	#user-info .id {
		margin: 0 0 0 8px;
		border-left: 1px solid #ddd; }
 
	#user-info a.btn {
		margin-top: 1px;
		margin-left: 16px;
		padding-left: 14px;
		background: #2d2d2d url(../images/arrow-btn.gif) 6px 50% no-repeat;
		font-weight: bold; }
 
		#user-info a.btn:hover { background-color: #bdcf23; }
 
/* Footer
================================================================================= */
#footer {
	clear: both;
	border-top: 1px solid #ededed;
	/*background:#072b6c;*/ }
 
	#footer .container { height: 150px; }
 
html>body #footer .container {
	height: auto;
	min-height: 150px; }
 
/* Min Height Fix */
#footer-sidebar {
	float: left;
	width: 230px;
	padding: 10px; }
 
#footer-content {
	float: left;
	display: inline;
	width: 842px;
	margin: 0 0 0 10px;
	padding: 10px 0; }
 
#footer p {
	font-size: 11px;
	line-height: 13px; }
 
#footer-sidebar p { color: #076fb2; }
 
/* Main Layout
================================================================================= */
#wrapper { background: #f8f8f8 url(../images/wrapper-bg.png) repeat 0 0; }
 
	#wrapper .container { background: url(../images/sidebar-bg.gif) 0 0 repeat-y; }
 
/* Sidebar
================================================================================= */
#sidebar {
	float: left;
	width: 228px;
	margin: -46px 20px 0 0;
	padding: 9px 9px 10px;
	background: #f4f4f4;
	border: 1px solid #dddddd;
	border-bottom: 0;
	position: relative; }
 
/* Searchbar
-------------------------------------------------------------- */
.searchbar {
	width: 228px;
	height: 26px;
	overflow: hidden;
	margin: 0 auto 20px; }
 
	.searchbar .search-field {
		width: 204px;
		height: 26px;
		float: left;
		background: url(../images/search-input.gif) 0 0 no-repeat; }
 
		.searchbar .search-field input {
			width: 198px;
			height: 22px;
			margin: 0;
			padding: 4px 0 0 6px;
			border: 0;
			background: none;
			color: #909090; }
 
	.searchbar .search-btn { float: left; }
 
/* Sub Navigation
-------------------------------------------------------------- */
.sub-nav {
	width: 208px;
	margin: 0 0 16px;
	padding: 10px 10px 40px;
	/*background: #e0eefa;*/ }
 
#sidebar .sub-nav .title {
	margin: 0 0 8px;
	padding: 0 0 8px;
	color: #076fb2;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px; }
 
.sub-nav ul {
	width: 208px;
	margin: 0;
	border-top: 1px solid #e2e2e2; }
 
.sub-nav li {
	width: 208px;
	list-style: none; }
 
	.sub-nav li a {
		display: block;
		width: 208px;
		padding: 0 0 7px;
		border-bottom: 1px solid #e2e2e2;
		color: #828282;
		font-size: 12px;
		line-height: 14px;
		text-decoration: none; }
 
		.sub-nav li a:visited { color: #828282; }
 
		.sub-nav li a span {
			display: block;
			padding: 7px 10px 0; }
 
		.sub-nav li a:hover {
			color: #3FBBEF; }
 
		.sub-nav li a.active {
			background: #c2d337;
			color: #fff;
			font-weight: bold; }
 
/* Quick Links
-------------------------------------------------------------- */
.quick-links {
	margin: 0 0 18px;
	width: 228px;
	overflow: hidden; }
 
	.quick-links a {
		display: block;
		height: 66px;
		margin: 0 0 12px;
		padding: 10px 10px 10px 96px;
		position: relative;
		background: #e3f2fd;
		color: #2e71c9;
		text-decoration: none; }
 
		.quick-links a:visited { color: #2e71c9; }
 
		.quick-links a img {
			position: absolute;
			top: 0;
			left: 0; }
 
		.quick-links a span {
			display: block;
			width: 124px; }
 
		.quick-links a .title {
			font-size: 1.25em;
			font-weight: bold; }
 
		.quick-links a .desc {
			font-size: .917em;
			line-height: 1.273;
			position: absolute;
			bottom: 10px;
			left: 96px; }
 
		.quick-links a:hover,
.quick-links a.active {
			background: #a7d3f6;
			color: #2e71c9; }
 
/* Sidebar Content
-------------------------------------------------------------- */
#sidebar p {
	margin-right: 8px;
	margin-left: 8px;
	color: #22626b; }
 
/* Main Content
================================================================================= */
#main {
	float: left;
	display: inline;
	width: 834px;
	padding: 10px 0; }
 
/* Profile Message / Name
-------------------------------------------------------------- */
.profile-msg {
	width: 832px;
	overflow: hidden;
	margin: 0 0 28px;
	background: #fff;
	border: 1px solid #ddd; }
 
	.profile-msg p { margin: 0; }
 
	.profile-msg .title {
		float: left;
		padding: 0 10px;
		color: #076fb2;
		font-size: 21px;
		line-height: 40px; }
 
	.profile-msg .btns {
		float: right;
		padding: 10px 10px 0 0; }
 
	.profile-msg .btn {
		color: #fff;
		background:#2d2d2d; }
 
		.profile-msg .btn:hover { background:#bdcf23; }
 
/* Module Boxes
 
================================================================================= */
.module {
	width: 100%;
	margin: 0 0 28px;
	padding-top: 1px;
	overflow: hidden;
	position: relative; }
 
	.module .head {
		height: 29px;
		padding: 8px 8px 0 15px;
		border: 1px solid #707070;
		overflow: hidden;
		position: relative;
		background: url(../images/module-head-bg.png) repeat-x 0 0; }
 
html>body .module .head {
	height: auto;
	min-height: 29px; }
 
.module .content {
	padding: 16px;
	background: #fff;
	position: relative; }
 
.section-break {
	width: 100%;
	height: 3px;
	margin: 16px 0;
	background-color: #eeefee; }
 
/* Module Header
-------------------------------------------------------------- */
/* Expand/Collapse BTN */
/*.module .head a.handle			{ float:right; display:block; width:22px; height:22px; overflow:hidden; margin-left:6px; background:#072b6c url(../images/handle-control-state.gif) 50% 0 no-repeat; color:#fff; font-size:.917em; line-height:1; text-indent:-9999em; cursor:pointer; }
.module .head a.handle:hover	{ background-color:#178ae2; }
.close .module .head a.handle	{ background-position:50% -22px; }*/
.module .head a.handle {
	float: right;
	display: block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	margin-left: 6px;
	background: #2d2d2d url(../images/handle-control-state.gif) 50% 0 no-repeat;
	color: #fff;
	font-size: .917em;
	line-height: 1;
	text-indent: -9999em;
	cursor: pointer; }
 
	.module .head a.handle:visited { color: #fff; }
 
	.module .head a.handle:hover { background-color: #bdcf23; }
 
.module .head a.handle-close {
	float: right;
	display: block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	margin-left: 6px;
	background: #2d2d2d url(../images/handle-control-state.gif) 50% -22px no-repeat;
	color: #fff;
	font-size: .917em;
	line-height: 1;
	text-indent: -9999em;
	cursor: pointer; }
 
	.module .head a.handle-close:hover { background-color: #bdcf23; }
 
/* Title */
.module .head .title {
	float: left;
	margin: 0;
	color: #fefefe;
	font-size: 1.313em;
	font-weight: bold;
	line-height: 1.583; }
 
/* Buttons */
.module .head .btns {
	float: right;
	margin: 1px 0 0; }
 
.module .head a.btn { margin-left: 3px; background:#2d2d2d; }

	.module .head a.btn:hover { background:#bdcf23; }
 
.module .pane .btns {
	position: absolute;
	top: 6px;
	right: 10px;
	margin: 0; }
 
/* Tabs
-------------------------------------------------------------- */
/* Main Tabs */
ul.tabs {
	margin: 0;
	padding: 0 12px;
	height: 32px; }
 
	ul.tabs li {
		float: left;
		padding: 0;
		list-style-type: none; }
 
	ul.tabs a {
		float: left;
		display: block;
		height: 32px;
		line-height: 32px;
		margin: 0 4px -1px 0;
		padding: 0 18px;
		border: 1px solid #707070;
		border-bottom: 0;
		background: url(../images/module-head-bg.png) repeat-x 0 0;
		color: #fff;
		font-size: 1.167em;
		font-weight: bold;
		text-decoration: none;
		position: relative; }
		
		ul.tabs a:visited { color: #fff; }
 
		ul.tabs a:hover {
			color: #fff;
			border-color: #c2d337;
			background: url(../images/module-head-hover-bg.png) repeat-x 0 0; }
 
		ul.tabs a.current {
			background: #fff !important;
			border-color: #ddd !important;
			color: #444 !important;
			cursor: default; }
 
/* Inner Tabs */
div.pane {
	padding: 24px 16px 6px;
	border: 1px solid #ddd;
	background: #fff; }
 
.pane ul.tabs {
	padding: 0 4px;
	border-bottom: 2px solid #eeefee; }
 
	.pane ul.tabs a {
		height: 31px;
		margin-bottom: -1px;
		border: 1px solid #eeefee;
		background: #fff;
		color: #a1a1a1; }
 
		.pane ul.tabs a:hover {
			background-color: #eeefee;
			border-color: #eeefee;
			border-bottom-color: #eeefee;
			color: #51236f; }
 
		.pane ul.tabs a.current {
			border-bottom: 1px solid #eeefee;
			background-color: #eeefee;
			color: #51236f;
			font-weight: bold; }
 
/* Module Actions
-------------------------------------------------------------- */
.actions {
	margin: 0 0 1em;
	padding: 6px;
	overflow: hidden;
	background: #f8f8f8; }
 
.pane .pane .actions { width: 788px; }

.pane .module .actions { width: 754px; }
 
.actions p {
	margin: 0;
	line-height: 32px;
	color: #076fb2;
	font-weight: bold; }
 
.actions a.btn,
.actions a.btn2 {
	padding: 0 10px;
	line-height: 29px;
	height: 30px;
	font-size: 1.167em;
	font-weight: bold; }

.actions a.btn2 { font-weight: normal; }
 
.actions .left a.btn,
.actions .left a.btn2 { margin-right: 3px; }
 
.actions .right a.btn,
.actions .right a.btn2 {
	margin-left: 3px; }
 
/* Pagination */
.pagination {
	overflow: hidden;
	padding: 4px 0; }
 
	.pagination a {
		margin: 0 2px 0 0;
		padding: 5px 7px;
		background: #f8f8f8;
		color: #444;
		font-size: 0.917em;
		font-weight: bold;
		line-height: 22px; }
 
		.pagination a:visited { color: #444; }
 
	.pagination span {
		margin: 0 2px 0 0;
		padding: 4px 6px;
		font-size: 0.917em;
		font-weight: bold;
		line-height: 22px; }
 
	.pagination .active {
		color: #444;
		font-weight: bold;
		border: 1px solid #ddd;
		cursor: default; }
 
	.pagination a:hover {
		background-color: #bdcf23;
		color: #fff; }
 
	.pagination .previous-off,		
.pagination .next-off {
		margin: 0;
		padding: 5px 2px; }
 
#main .paging td,				
#main .paging:hover	td { background-color: #fff; /*background-color: #ebebeb;*/ }
 
.paging td {
	padding: 8px 0;
	border: 0;
	border-top: 2px solid #67d0fc; }
 
.paging table {
	width: auto;
	margin: 0; }
 
	.paging table td {
		padding: 0;
		border: 0; }
 
.paging span {
	margin: 0 4px 0 0;
	padding: 4px 6px;
	color: #444;
	font-size: 0.917em;
	font-weight: bold;
	line-height: 22px;
	border: 1px solid #ddd;
	cursor: default; }
 
.paging a {
	margin: 0 4px 0 0;
	padding: 5px 7px;
	background: #f8f8f8;
	border:1px solid #ddd;
	color: #444;
	font-size: 0.917em;
	font-weight: bold;
	line-height: 22px; }
 
	.paging a:visited { color: #444; }
 
	.paging a:hover {
		background-color: #bdcf23;
		border-color: #bdcf23;
		color: #fff; }
 
/* Forms
 
================================================================================= */
.form-table {
	width: 100%;
	border-collapse: separate;
	margin: 0 0 1.5em; }
 
	.form-table td {
		padding: 10px 8px 12px 12px;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #eaf1f5; }
 
	/*.form-table label, .detail-table label { display: block; }
.questions label { width: auto; }*/
.form-table .span-1, .form-table .span-2, .form-table .span-3, .form-table .span-4 {
		float: left;
		margin-right: 6px; }
 
.span-1 { width: 46px; }
 
.span-2 { width: 104px; }
 
.span-3 { width: 162px; }
 
.span-4 { width: 221px; }
 
.form-table select.span-1, .form-table select.span-2, .form-table select.span-3, .form-table select.span-4 { margin-right: 7px; }
 
select.span-1 { width: 51px; }
 
select.span-2 { width: 109px; }
 
select.span-3 { width: 167px; }
 
select.span-4 { width: 226px; }
 
td label {
	font-weight: bold;
	/*color: #444;*/ }
 
td span label, td label.label-desc, .questions label {
	font-weight: normal;
	color: #4e4d46; }
 
/* Radio/Checkbox labels */
/* Checkbox Lists */
.form-table div, .form-table span, .detail-table div, .detail-table span {
	margin: 0 6px 0 0;
	padding: 0; }
 
.form-table span, .detail-table span { float: left; }
 
.form-table div.col span, .detail-table div.col span {
	display: block;
	width: 100%;
	float: left;
	padding: 0; }
 
.two-columns div.col span {
	width: 46.5%;
	margin: 0 5px 0 0; }
 
.three-columns div.col span {
	width: 30%;
	margin: 0 5px 0 0; }
 
.inline div.col span {
	width: auto;
	margin: 0 7px 0 0; }
 
	.inline div.col span span {
		margin: 0;
		display: inline;
		float: none }
 
/* Re-align labels for inputs with an extra span */
/*.form-table div.col label, .detail-table div.col label{ display:block; font-size:100%; line-height:150%; margin:-20px 0 0 23px; padding:0 0 5px 0; width:88%; }*/
input, textarea, select {
	color: #858585;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.083em; }
 
option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%; }
 
/* Miscellaneous
 
================================================================================= */
.small {
	font-size: .917em;
	margin-bottom: 1.273em;
	line-height: 1.273em; }
 
.large {
	font-size: 1.167em;
	margin-bottom: 1.5em;
	line-height: 1.5em; }
 
.hide { display: none; }
 
.quiet { color: #666; }
 
.loud { color: #000; }
 
.highlight { color: #2e71c9; }
 
.left { float: left; }
 
.right { float: right; }
 
.align-left { text-align: left; }
 
.align-right { text-align: right; }
 
.center { text-align: center; }
 
/* Rounded Corners CSS3
 
================================================================================= */
/* All 4 corners */
.sub-nav, .sub-nav li, .sub-nav a,.profile-msg,.module,#global-nav a,.quick-links a,.profile,.useful-links,button, .tabbed-module .pane, .btn, .btn2, .actions, .notice, .information, .success, .error, .clip {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
 
/* Top Corners only */
#sidebar,.module .head,.useful-links-head, .tabs a {
	-webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px; }
 
/* Bottom Corners only */
.pane, .close .module .head,.module-listing .module-content {
	-webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px; }
 
.clip .thumb, .paging a, .paging span, .pagination a, .pagination .active, .handle, .handle-close {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

 
/* Clips (Scheduling)
 
================================================================================= */
.clips-wrap { width: 824px; }
 
/* Removing clips-col will display clips in a similar grid */
.clips-col {
	float: left;
	width: 412px; }
 
	.clips-col h3 { margin-left: 8px; }
 
.clip {
	float: left;
	width: 376px;
	padding: 10px;
	margin: 0 8px 16px;
	display: inline;
	background: #f5f9fb; }
 
	.clip .thumb {
		float: left;
		display: block;
		width: 176px;
		height: 99px;
		overflow: hidden;
		border: 3px solid #fff;
		background: green; }
 
	.clip a.thumb:hover { border-color: #3ea6ac; }
 
	.clip .copy { margin: 0 0 0 192px; }
 
		.clip .copy h4 {
			margin: 0;
			font-weight: bold; }
 
		.clip .copy p {
			margin: 0;
			font-size: 0.917em;
			line-height: 1.273;
			text-align: right; }
 
		.clip .copy table { margin: 10px 0; }
 
		.clip .copy td {
			padding: 2px 0;
			font-size: 0.917em;
			line-height: 1.273; }
 
		.clip .copy .value {
			width: 75px;
			padding-left: 6px;
			color: #3ea6ac; }
 
/* Landing Page
 
================================================================================= */
/* Left & Right Modules
-------------------------------------------------------------- */
.col-row {
	width: 842px;
	overflow: hidden;
	margin: 0 0 28px; }
 
	.col-row .col-left {
		width: 411px;
		float: left;
		overflow: hidden; }
 
	.col-row .col-right {
		width: 411px;
		float: right;
		overflow: hidden; }
 
/* Profile Box
-------------------------------------------------------------- */
.profile {
	padding: 10px;
	background: #fff; }
 
.profile-info {
	width: 260px;
	float: left; }
 
.profile-pic {
	float: right;
	width: 110px;
	height: 134px;
	overflow: hidden; }
 
.profile th {
	width: 120px;
	padding: 6px 16px 6px 0;
	color: #4e4d46;
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	border: 0; }
 
.profile td {
	padding: 6px 0;
	font-size: 14px; }
 
/* Useful Links Box
-------------------------------------------------------------- */
.useful-links {
	width: 411px;
	background: #c9e4f9; }
 
.useful-links-head {
	width: 411px;
	overflow: hidden;
	background: #178ae2;
	position: relative; }
 
	.useful-links-head .title {
		float: left;
		margin: 0;
		padding: 0 10px;
		color: #fefefe;
		font-size: 14px;
		font-weight: bold;
		line-height: 34px; }
 
.useful-links-content {
	overflow: hidden;
	padding: 10px;
	position: relative; }
 
.useful-links ul {
	width: 175px;
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	padding: 0;
	list-style: none; }
 
.useful-links li {
	width: 167px;
	float: left;
	margin: 0 0 4px 0;
	padding: 0 0 0 8px;
	background: url(../images/link-arrow.gif) 0 6px no-repeat; }
 
	.useful-links li a {
		color: #2e71c9;
		font-size: 0.917em;
		line-height: 1.333;
		text-decoration: none; }
 
		.useful-links li a:visited { color: #2e71c9; }
 
		.useful-links li a:hover {
			color: #2e71c9;
			text-decoration: underline; }
 
/* Calendar Table
-------------------------------------------------------------- */
table.date-controls {
	width: 100%;
	margin: 0 0 10px;
	padding: 0; }
 
.date-controls td {
	padding: 0;
	font-size: 14px;
	line-height: 22px;
	vertical-align: middle; }
 
	.date-controls td img.icon {
		vertical-align: middle;
		margin-right: 6px; }
 
/* Calendar Table
-------------------------------------------------------------- */
table.cal-table { border-collapse: separate; }
 
.cal-table .day td {
	background: #e7e7e7;
	font-size: 11px;
	line-height: 28px; }
 
.cal-table td {
	width: 55px;
	padding: 0;
	background: #f2f2f2;
	text-align: center;
	font-size: 14px;
	line-height: 38px; }
 
	.cal-table td.na { color: #c1bfb7; }
 
/* Event Table
-------------------------------------------------------------- */
table.event-table {  }
 
.event-table th {
	padding: 4px 8px 4px 4px;
	border: 0;
	border-bottom: 1px solid #eeefee;
	background: none;
	color: #2e71c9;
	font-size: 11px;
	line-height: 16px; }
 
.event-table td {
	padding: 4px 8px 4px 4px;
	border-bottom: 1px solid #eeefee; }
 
	.event-table td img.bullet {
		vertical-align: middle;
		margin: 0 6px 0 0; }
 
/* Notice Listing
-------------------------------------------------------------- */
.notice-listing {
	width: 100%;
	overflow: hidden; }
 
.notice-item {
	width: 100%;
	margin: 0 0 24px; }
 
	.notice-item h3 {
		color: #2e71c9;
		font-size: 16px;
		font-weight: bold;
		line-height: 19px;
		margin: 0 0 4px;
		padding: 0 0 32px;
		background: url(../images/underline-bot-arrow.png) 0 100% no-repeat; }
 
		.notice-item h3 a,
.notice-item h3 a:visited {
			color: #2e71c9;
			background: none; }
 
		.notice-item h3 a:hover { color: #3FBBEF; }
 
	.notice-item .copy p { margin: 0 0 12px; }
 
	.notice-item .copy a {
		color: #51236f;
		font-weight: bold;
		background: none; }
 
		.notice-item .copy a:visited { color: #51236f; }
 
		.notice-item .copy a:hover {
			color: #51236f;
			text-decoration: underline; }
 
	.notice-item .timestamp {
		color: #2e71c9;
		font-style: italic;
		margin: 0; }
 
/* Login Page
-------------------------------------------------------------- */
body.login {
	padding: 0 0 80px;
	background: #f8f8f8 url(../images/wrapper-bg.png) repeat 0 0; }

body.login .module {
	width: 310px;
	margin: 44px auto; }
	
	body.login .module .head { padding: 8px 8px 0; }
	
	body.login .module .head .title {
		float: none;
		text-align: center; }
	
body.login .pane { padding: 16px; }

body.login table { margin: 0; }


/* Forms
-------------------------------------------------------------- */
.form-list-wrap {
	width: 100%;
	overflow: hidden;
	background-color: #f5f9fb; }
 
.form {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid #FCFCFC; }
 
	.form li {
		width: 100%;
		float: left;
		margin: 0;
		padding: 10px 8px 12px 12px;
		border-bottom: 1px solid #EBEBEB;
		border-top: 1px solid #FCFCFC; }
 
	.form label {
		width: 240px;
		padding: 3px 12px 3px 0px;
		float: left;
		display: inline;
		color: #225472;
		font-weight: bold; }
 
	.form input {
		float: left;
		display: inline;
		line-height: 100%; }
 
	.form .select-group {
		width: auto;
		float: left;
		display: inline;
		margin: 0; }
 
		.form .select-group td {
			padding: 0 24px 0 0;
			vertical-align: middle; }
 
			.form .select-group td label {
				width: auto;
				margin: 0;
				padding: 1px 0 0 2px;
				color: #4e4d46;
				font-weight: normal; }
 
.side-note {
	padding: 3px 5px 0 5px;
	float: left;
	font-size: 11px; }
 
.bot-note {
	margin-left: 152px;
	padding: 0;
	clear: both;
	display: block;
	font-size: 11px; }
 
.form li.required { background: #FFDDDD; }
 
/* Tooltip
-------------------------------------------------------------- */
.tooltip-wrap { position: relative; }
 
/* mouseover state */
#tooltip-feature:hover { background-position: 0 -44px ; }
 
/* clicked state */
#tooltip-feature:focus { background-position: 0 -88px; }
 
/* tooltip styling */
.tooltip {
	display: none;
	background: url(../images/tooltip/tooltip-tr.png) 0 0 no-repeat;
	font-size: 11px !important;
	color: #000 !important;
	left: -35px !important;
	top: -305px !important;
	z-index: 1000;
	width: 500px;
	height: 250px;
	padding: 29px 29px 38px !important; }
 
.tooltip-scroll {
	height: 250px;
	overflow-y: scroll; }
 
.scroll-list {
	*width: 85%;
	position: relative;
	margin: 0 !important;
	border: 1px solid #EBEBEB;
	border-bottom-color: #FCFCFC;
	border-right-color: #FCFCFC; }
 
	.scroll-list .scroll-list-inner {
		height: 120px;
		overflow-y: scroll;
		margin: 0 !important;
		border: 1px solid #FCFCFC;
		border-bottom-color: #EBEBEB;
		border-right-color: #EBEBEB; }
 
/* Sitemap Link Listing
-------------------------------------------------------------- */
.sitemap-table {  }
 
	.sitemap-table td { border-left: 1px solid #e2ecf1; }
 
		.sitemap-table td.first { border-left: 0; }
 
	.sitemap-table h4 { font-weight: bold; }
 
	.sitemap-table ul {
		margin: 0;
		padding: 0;
		list-style: none; }
 
		.sitemap-table ul li {
			margin: 0 0 6px;
			padding: 0 0 0 10px;
			background: url(../images/arrow.gif) 0 6px no-repeat; }
 
/* Survey Form
-------------------------------------------------------------- */
.survey-form-wrap {  }
 
#main .survey-form {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid #d4e0f1; }
 
	#main .survey-form li {
		margin: 0;
		padding: 10px 9px;
		border-top: 1px solid #d4e0f1;
		background: none;
		float: left;
		width: 100%; }
 
		#main .survey-form li.error {
			border-left: none;
			border-right: none;
			border-bottom: none; }
 
.survey-form label {
	float: left;
	display: inline;
	width: 320px;
	padding: 0 9px 0 0;
	color: #1d1d1d;
	font-weight: bold; }
 
.survey-form table td {
	padding: 4px 14px;
	vertical-align: top; }
 
.survey-form input {
	float: left;
	display: inline; }
 
.survey-form .select-group {
	width: auto;
	float: left;
	display: inline;
	margin: 0; }
 
	.survey-form .select-group td {
		padding: 0 16px 6px 0;
		vertical-align: middle; }
 
		.survey-form .select-group td label {
			width: auto;
			margin: 0;
			padding: 1px 0 0 2px;
			color: #0C9FE2; }
 
.survey-form-wrap .submit { margin-left: 338px; }

/* Text editor styles */
.HC_grid th { background: none; }
.HC_grid th iframe { width: 100% !important; }
.HC_grid td { background: none; }
.form-table .HE_top_bar { padding: 0 8px 8px; }